.players-section {
  &__wrapper {
    margin-bottom: 124px;
    @include media-breakpoint-down(xl) {
      margin-bottom: 40px;
    }
  }
  .header-section__nav {
    @include media-breakpoint-down(lg) {
      order: 2;
    }
  }
  &__inner {
    margin-top: 60px;

    .h2 {
      margin-bottom: 17px;
    }
    @include media-breakpoint-down(xl) {
      margin-top: 40px;
    }
  }

  &__item {
    background-color: var(--color-red);
    border-radius: 8px;
    display: block;
    position: relative;
    overflow: hidden;

    height: 427px;
    @include media-breakpoint-down(md) {
      height: 350px;
    }
    &:hover {
      .players-section__name {
        text-decoration-color: inherit;
      }
      &::before {
        transform: scale(1.1);
      }
    }
    &.players-section__item--dukla {
      &::after {
        content: "";
        position: absolute;
        right: 32px;
        top: 24px;
        width: 68px;
        height: 73px;
        z-index: 25;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../images/ico/madeindukla.svg");
        @include media-breakpoint-down(md) {
          width: 54px;
          height: 64px;
          top: 20px;
          right: 24px;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      transition: var(--transition);
      background-image: url("../images/content/bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      z-index: 23;
      display: block;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-red);
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.799549;
      border-radius: 8px;
      background: linear-gradient(
        180deg,
        rgba(103, 18, 25, 0) 0%,
        rgba(103, 18, 25, 1) 100%
      );
      z-index: 25;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      z-index: 24;
      position: relative;
    }
  }
  &__info {
    position: absolute;
    bottom: 28px;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 25;
    padding: 0 16px;
  }
  &__name {
    margin-bottom: 12px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    color: var(--color-light);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: var(--transition);
    letter-spacing: 1px;
    @include media-breakpoint-down(md) {
      font-size: 32px;
      margin-bottom: 4px;
    }
    span {
      font-weight: 400;
      display: block;
    }
  }
  &__position {
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-yellow);
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  &__number {
    position: absolute;
    left: 32px;
    top: 16px;
    font-size: 64px;
    font-weight: 900;
    z-index: 25;
    color: var(--color-yellow);
    @include media-breakpoint-down(md) {
      font-size: 40px;
      left: 24px;
      top: 12px;
    }
  }
}
