<section class="players-section">
  <div class="container">
    <div class="header-section">
      <h1 class="h1">Soupiska A-tým</h1>
      <ul class="header-section__nav">
        <li>
          <a class="btn" href="#brankari">brankáři</a>
        </li>
        <li>
          <a class="btn" href="#obranci">obránci</a>
        </li>
        <li>
          <a class="btn" href="#zaloznici">Záložníci</a>
        </li>
        <li>
          <a class="btn" href="#">útočníci</a>
        </li>
        <li>
          <a class="btn" href="#realtym">realizační tým</a>
        </li>
      </ul>
    </div>
    <div class="players-section__wrapper">
      <div class="players-section__inner">
        <h2 id="brankari" class="h2">Brankáři</h2>
        <div class="row g-5">
          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Brankář</div>
                </div>
                <div class="players-section__number">30</div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Brankář</div>
                </div>
                <div class="players-section__number">7</div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Brankář</div>
                </div>
                <div class="players-section__number">4</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="players-section__inner">
        <h2 id="obranci" class="h2">Obránci</h2>
        <div class="row g-5">
          <div class="col-xl-4 col-md-6 col-12">
            <a
              href="#"
              class="players-section__item players-section__item--dukla"
            >
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Obránce</div>
                </div>
                <div class="players-section__number">8</div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Obránce</div>
                </div>
                <div class="players-section__number">30</div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6 col-12">
            <a
              href="#"
              class="players-section__item players-section__item--dukla"
            >
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Obránce</div>
                </div>
                <div class="players-section__number">30</div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Obránce</div>
                </div>
                <div class="players-section__number">24</div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Obránce</div>
                </div>
                <div class="players-section__number">12</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="players-section__inner">
        <h2 id="zaloznici" class="h2">Záložníci</h2>
        <div class="row g-5">
          <div class="col-xl-4 col-md-6 col-12">
            <a
              href="#"
              class="players-section__item players-section__item--dukla"
            >
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Záložník</div>
                </div>
                <div class="players-section__number">8</div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Záložník</div>
                </div>
                <div class="players-section__number">30</div>
              </div>
            </a>
          </div>

          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Záložník</div>
                </div>
                <div class="players-section__number">24</div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Záložník</div>
                </div>
                <div class="players-section__number">12</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="players-section__inner">
        <h2 id="realtym" class="h2">Realizační tým</h2>
        <div class="row g-5">
          <div class="col-xl-4 col-md-6 col-12">
            <a
              href="#"
              class="players-section__item players-section__item--dukla"
            >
              <div class="players-section__img">
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Trenér</div>
                </div>
                <div class="players-section__number">8</div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Asistent trenéra</div>
                </div>
                <div class="players-section__number">30</div>
              </div>
            </a>
          </div>

          <div class="col-xl-4 col-md-6 col-12">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Záložník</div>
                </div>
                <div class="players-section__number">12</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
