<section class="playersJuniors">
  <div class="container">
    <div class="header-section mb-10">
      <h1 class="h1">Rozcestník mládeže</h1>

      <div class="header-section__row w-100">
        <label class="o-select header-section__label">
          <div class="header-section__category">Kategorie</div>
          <select class="js-select">
            <option>FORTUNA:NÁRODNÍ LIGA 2023/24</option>
            <option>sezona 1</option>
            <option>sezona 2</option>
            <option>sezona 3</option>
            <option>sezona 4</option>
            <option>sezona 5</option>
          </select>
        </label>
      </div>
    </div>
    <div class="juniors-section__wrapper">
      <div class="juniors-section__menu">
        <ul class="juniors-section__teams">
          <li>
            <a href="/youth?category=U19" class="active"> U19 </a>
          </li>
          <li>
            <a href="/youth?category=U18" class=""> U18 </a>
          </li>
          <li>
            <a href="/youth?category=U17" class=""> U17 </a>
          </li>
          <li>
            <a href="/youth?category=U16" class=""> U16 </a>
          </li>
          <li>
            <a href="/youth?category=U15" class=""> U15 </a>
          </li>
          <li>
            <a href="/youth?category=U14" class=""> U14 </a>
          </li>
          <li>
            <a href="/youth?category=U13" class=""> U13 </a>
          </li>
          <li>
            <a href="/youth?category=U12" class=""> U12 </a>
          </li>
          <li>
            <a href="/youth?category=U11" class=""> U11 </a>
          </li>
          <li>
            <a href="/youth?category=U10" class=""> U10 </a>
          </li>
          <li>
            <a href="/youth?category=U9" class=""> U9 </a>
          </li>
          <li>
            <a href="/youth?category=U8" class=""> U8 </a>
          </li>
          <li>
            <a href="/youth?category=U7" class=""> U7 </a>
          </li>
          <li>
            <a href="/youth?category=Z23" class=""> Ženy B </a>
          </li>
          <li>
            <a href="/youth?category=Z19" class=""> WU18 </a>
          </li>
          <li>
            <a href="/youth?category=Z19B" class=""> WU19B </a>
          </li>
          <li>
            <a href="/youth?category=Z15" class=""> WU15 </a>
          </li>
          <li>
            <a href="/youth?category=Z13" class=""> WU13 </a>
          </li>
          <li>
            <a href="/youth?category=Z13B" class=""> WU13B </a>
          </li>
          <li>
            <a href="/youth?category=Z11" class=""> WU11 </a>
          </li>
          <li>
            <a href="/youth?category=Z09" class=""> WU09 </a>
          </li>
          <li>
            <a href="/youth?category=SKO" class=""> SKO </a>
          </li>
        </ul>

        <ul class="juniors-section__submenu js-scroll">
          <li>
            <a href="#players" class="active">Soupiska</a>
          </li>
          <li><a href="#realtym">Realizační tým</a></li>
          <li>
            <a
              target="_blank"
              href="https://mizza-cz.github.io/dukla-praha/build/04.0_matches.html"
              >Výsledky</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://mizza-cz.github.io/dukla-praha/build/07.0_table.html"
              >Tabulka</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="playersJuniors__wrapper">
      <div class="playersJuniors__inner">
        <div class="playersJuniors__bg">
          <img
            src="images/content/default_new.png"
            loading="lazy"
            alt="decor"
          />
        </div>
        <h2 class="h3 text-center mb-8">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eius?
        </h2>
        <h2 id="players" class="h2">Hráči</h2>
        <div class="playersJuniors__row">
          <div class="playersJuniors__col">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Brankář</div>
                </div>
                <div class="players-section__number">30</div>
              </div>
            </a>
          </div>
          <div class="playersJuniors__col">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Brankář</div>
                </div>
                <div class="players-section__number">7</div>
              </div>
            </a>
          </div>
          <div class="playersJuniors__col">
            <a
              href="#"
              class="players-section__item players-section__item--dukla"
            >
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Obránce</div>
                </div>
                <div class="players-section__number">8</div>
              </div>
            </a>
          </div>
          <div class="playersJuniors__col">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Obránce</div>
                </div>
                <div class="players-section__number">30</div>
              </div>
            </a>
          </div>
          <div class="playersJuniors__col">
            <a
              href="#"
              class="players-section__item players-section__item--dukla"
            >
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Obránce</div>
                </div>
                <div class="players-section__number">30</div>
              </div>
            </a>
          </div>
          <div class="playersJuniors__col">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Brankář</div>
                </div>
                <div class="players-section__number">4</div>
              </div>
            </a>
          </div>
          <div class="playersJuniors__col">
            <a
              href="#"
              class="players-section__item players-section__item--dukla"
            >
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Záložník</div>
                </div>
                <div class="players-section__number">8</div>
              </div>
            </a>
          </div>
          <div class="playersJuniors__col">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Záložník</div>
                </div>
                <div class="players-section__number">30</div>
              </div>
            </a>
          </div>

          <div class="playersJuniors__col">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Záložník</div>
                </div>
                <div class="players-section__number">24</div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="playersJuniors__inner">
        <h2 id="realtym" class="h2">Realizační tým</h2>
        <div class="playersJuniors__row">
          <div class="playersJuniors__col">
            <a
              href="#"
              class="players-section__item players-section__item--dukla"
            >
              <div class="players-section__img">
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Trenér</div>
                </div>
                <div class="players-section__number">8</div>
              </div>
            </a>
          </div>
          <div class="playersJuniors__col">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Asistent trenéra</div>
                </div>
                <div class="players-section__number">30</div>
              </div>
            </a>
          </div>

          <div class="playersJuniors__col">
            <a href="#" class="players-section__item">
              <div class="players-section__img">
                <img
                  src="images/content/players.webp"
                  loading="lazy"
                  alt="player"
                />
                <div class="players-section__info">
                  <div class="players-section__name">
                    <span>Jan </span>Čtvrtečka
                  </div>
                  <div class="players-section__position">Záložník</div>
                </div>
                <div class="players-section__number">12</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
