.playersJuniors {
  .header-section__nav {
    @include media-breakpoint-down(lg) {
      order: 2;
    }
  }
  &__wrapper {
    margin-bottom: 124px;
    @include media-breakpoint-down(xl) {
      margin-bottom: 40px;
    }
  }
  &__inner {
    margin-top: 60px;

    .h2 {
      margin-bottom: 17px;
    }
    @include media-breakpoint-down(xl) {
      margin-top: 40px;
    }
  }
  &__row {
    flex-wrap: wrap;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include media-breakpoint-only(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media-breakpoint-only(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint-only(md) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint-only(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }
  &__col {
    .players-section__number {
      font-size: 2rem;
      left: 16px;
    }
    .players-section__item {
      height: 20rem;
    }
    .players-section__name {
      font-size: 2rem;
    }
    .players-section__img {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      img {
        max-height: 260px;
        @include media-breakpoint-down(md) {
          max-height: 100%;
        }
      }
    }
  }
}

.playersJuniors__bg {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
