<section class="player-section">
  <div class="container">
    <div class="player-section__top">
      <div class="player-section__img">
        <img
          src="images/content/player-section.png"
          loading="lazy"
          alt="player"
        />
      </div>
      <div class="player-section__info">
        <div class="player-section__number">10</div>
        <h1 class="h1 mb-4"><span>Jan</span> Čtvrtečka</h1>
        <h5 class="h5 text-yellow mb-5">Útočník</h5>
        <div class="player-section__info-links">
          {% include "@components/social/social-2.twig" %}
          <a href="#" class="btn btn-white">Transfermarkt</a>
        </div>
      </div>
    </div>
  </div>
</section>
