<div class="o-content">
   <table>
     <tr>
       <thead>
         <tr>
           <th>Číslo</th>
           <th>Jméno a příjmení</th>
           <th>Datum a čas</th>
           <th>Měsíc</th>
           <th>E-mail</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>12</td>
           <td>Michal Čajkovský</td>
           <td>21. 10. 2023, 17:34</td>
           <td>Červenec</td>
           <td>
             <a href="mailto:lenka.valeckova@seznam.cz"
               >lenka.valeckova@seznam.cz</a
             >
           </td>
         </tr>
         <tr>
           <td>12</td>
           <td>Michal Čajkovský</td>
           <td>21. 10. 2023, 17:34</td>
           <td>Červenec</td>
           <td>
             <a href="mailto:lenka.valeckova@seznam.cz"
               >lenka.valeckova@seznam.cz</a
             >
           </td>
         </tr>
         <tr>
           <td>12</td>
           <td>Michal Čajkovský</td>
           <td>21. 10. 2023, 17:34</td>
           <td>Červenec</td>
           <td>
             <a href="mailto:lenka.valeckova@seznam.cz"
               >lenka.valeckova@seznam.cz</a
             >
           </td>
         </tr>
         <tr>
           <td>12</td>
           <td>Michal Čajkovský</td>
           <td>21. 10. 2023, 17:34</td>
           <td>Červenec</td>
           <td>
             <a href="mailto:lenka.valeckova@seznam.cz"
               >lenka.valeckova@seznam.cz</a
             >
           </td>
         </tr>
         <tr>
           <td>12</td>
           <td>Michal Čajkovský</td>
           <td>21. 10. 2023, 17:34</td>
           <td>Červenec</td>
           <td>
             <a href="mailto:lenka.valeckova@seznam.cz"
               >lenka.valeckova@seznam.cz</a
             >
           </td>
         </tr>
         <tr>
           <td>12</td>
           <td>Michal Čajkovský</td>
           <td>21. 10. 2023, 17:34</td>
           <td>Červenec</td>
           <td>
             <a href="mailto:lenka.valeckova@seznam.cz"
               >lenka.valeckova@seznam.cz</a
             >
           </td>
         </tr>
       </tbody>
     </tr>
   </table>
 </div>