<section class="registration-section pb-10 mb-md-10">
  <div class="container">
    <div class="header-section mb-10 px-md-2 px-1">
      <h1 class="h1">Registrace do Fanklubu</h1>
    </div>

    <div class="row g-10">
      <div class="col-xl-9">
        <!-- <div class="o-content px-md-2 px-1">
           <p>
             Registrace budou platné pro všechna diskusní fóra s registrací na
             webech eSports.cz. Pokud již máte registraci z jiného webu
             eSports.cz, tak platí i zde.
           </p>
           <p>
             <strong>Základní registrace</strong> uživatelského jména je zdarma,
             stačí jen jedno potvrzení odkazu ve zprávě, která vám po registraci
             přijde na vaši emailovou adresu. Pokud se chcete stát "profi"
             uživatelem a využívat tak některé výhody a rozšířené funkce
             diskusního fóra, pak se po úspěšné registraci přihlásíte do editace
             uživatele (odkaz v dolní části diskusního fóra) a zašlete jedinou
             SMS zprávu podle pokynů.
           </p>
           <p>
             Zadané údaje slouží pouze pro potřeby registrace a nebudou nikde
             zveřejňovány.
           </p>
           <p>
             Registrace, která bude více než <strong>2 roky neaktivní</strong>,
             bude <strong>smazána</strong>
           </p>
           <h4 class="mb-4">
             Při registraci si prosím dejte pozor ná následující:
           </h4>
           <ul>
             <li>
               <strong>uživatelské jméno</strong> nesmí obsahovat mezeru (místo
               ní zkuste podtržítko), zavináč a křížek #
             </li>
             <li>
               jedna emailová adresa může být použita
               <strong>pouze pro jedno uživatelské jméno</strong>
             </li>
             <li>
               pozor na mezery, diakritiku, čárky a jiné překlepy v
               <strong>emailové adrese!</strong>
             </li>
             <li>
               pozor, aby email s potvrzovacím odkazem neskončil ve vaší schránce
               v koši se <strong>spamem</strong>, v případě nastavení přísných
               pravidel vaší email. schránky
             </li>
           </ul>
         </div> -->
        <div class="registration-section__menu">
          <p>
            V případě, že máte zájem o členství ve Fanklubu slavného fotbalového
            týmu FK Dukla Praha, pak prosím vyplňte přiložený formulář, který
            naleznete níže.
          </p>
        </div>
        <h2 class="h2 mb-5 text-center">
          FORMULÁŘ ZÁJEMCE O REGISTRACI DO FANKLUBU
        </h2>
        <div class="registration">
          <form action="">
            <div class="row">
              <div class="col-sm-6">
                <label class="header-section__label">
                  <div class="header-section__category">Jméno*</div>
                  <input required type="text" name="name" id="name" />
                </label>
              </div>
              <div class="col-sm-6">
                <label class="header-section__label">
                  <div class="header-section__category">Přijmení*</div>
                  <input required type="text" name="surname" id="surname" />
                </label>
              </div>
              <div class="col-sm-6">
                <label class="header-section__label">
                  <div class="header-section__category">Datum narození*</div>
                  <input required type="text" name="date" id="date" />
                </label>
              </div>
              <div class="col-sm-6">
                <label class="header-section__label">
                  <div class="header-section__category">Ulice, č.p.*</div>
                  <input required type="text" name="street" id="street" />
                </label>
              </div>

              <div class="col-sm-6">
                <label class="header-section__label">
                  <div class="header-section__category">Město*</div>
                  <input required type="text" name="city" id="city" />
                </label>
              </div>
              <div class="col-sm-6">
                <label class="header-section__label">
                  <div class="header-section__category">PSČ*</div>
                  <input required type="text" name="psc" id="psc" />
                </label>
              </div>

              <div class="col-sm-6">
                <label class="header-section__label">
                  <div class="header-section__category">Email*</div>
                  <input type="email" name="email" id="email" required />
                </label>
              </div>
              <div class="col-sm-6">
                <label class="header-section__label">
                  <div class="header-section__category">Mobil*</div>
                  <input required type="tel" name="phone" id="phone" />
                </label>
              </div>

              <div class="col-12">
                <div class="c-forum__agreement">
                  <input
                    id="agreement"
                    type="checkbox"
                    class="souhlas"
                    name="souhlas"
                    value="1"
                  />
                  <label for="agreement">
                    <strong>Souhlasím s</strong>
                    <a href="#" class="text-red"> podmínkami</a>
                  </label>
                </div>
                <button type="submit" class="tag tag-red">
                  <strong>Odeslat</strong>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-3 d-none d-xl-block">
        {% include "@components/aside/aside.twig" %}
      </div>
    </div>
  </div>
</section>
