<aside class="aside">
  <h2 class="h2 mt-1 mb-l7-8 mb-5">Kategorie</h2>
  <ul class="aside__menu">
    <li>
      <a href="#">A - tým</a>
    </li>
    <li>
      <a href="#">B - tým</a>
    </li>
    <li>
      <a href="#">Mládež</a>
    </li>
    <li>
      <a href="#">E- sport</a>
    </li>
    <li>
      <a href="#">Ženy</a>
    </li>
  </ul>
  <div class="mt-8">
    <h2 class="h2 mt-1 mb-l7-8 mb-5">Články</h2>

    <div class="d-flex gap-5 flex-wrap mb-5">
      <div class="post">
        <a href="#" class="post__img">
          <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
        </a>

        <div class="post__info">
          <ul class="tags">
            <li>
              <a href="#" class="tag tag-gold">preview</a>
            </li>
            <li>
              <a href="#" class="tag-white tag">dnes</a>
            </li>
          </ul>
          <a href="#" class="h3">
            Dukla skolila Třinec dvěma slepenými góly ve druhé půli
          </a>
        </div>
      </div>
      <div class="post">
        <a href="#" class="post__img">
          <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
        </a>

        <div class="post__info">
          <ul class="tags">
            <li>
              <a href="#" class="tag tag-gold">preview</a>
            </li>
            <li>
              <a href="#" class="tag-white tag">dnes</a>
            </li>
          </ul>
          <a href="#" class="h3">
            Dukla skolila Třinec dvěma slepenými góly ve druhé půli
          </a>
        </div>
      </div>
      <div class="post">
        <a href="#" class="post__img">
          <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
        </a>

        <div class="post__info">
          <ul class="tags">
            <li>
              <a href="#" class="tag tag-gold">preview</a>
            </li>
            <li>
              <a href="#" class="tag-white tag">dnes</a>
            </li>
          </ul>
          <a href="#" class="h3">
            Dukla skolila Třinec dvěma slepenými góly ve druhé půli
          </a>
        </div>
      </div>
    </div>
    <a href="#" class="asideTag tag tag-red">Archiv článků</a>
  </div>
</aside>
