<section class="socialFeed">
  <div class="container">
    <div class="socialFeed__header">
      <h5 class="h2">Sociál feed</h5>
      <ul class="socialFeed__tabs">
        <li>
          <button class="filter mixitup-control-active" data-filter="all">
            Vše
          </button>
        </li>
        <li>
          <button class="filter" data-filter=".mix__fb">Facebook</button>
        </li>
        <li>
          <button class="filter" data-filter=".mix__youtube">Youtube</button>
        </li>
        <li>
          <button class="filter" data-filter=".mix__instagram">
            Instagram
          </button>
        </li>
        <li>
          <button class="filter" data-filter=".mix__tiktok">Tiktok</button>
        </li>
        <li>
          <button class="filter" data-filter=".mix__twitter">Twitter</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="socialFeed__bottom">
      <div id="socialFeed__wrapper" class="socialFeed__items">
        <div class="mix__fb mix" data-myorder="1">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/2.jpeg" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__twitter mix" data-myorder="2">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale. Vyzvedávat
              permanentky můžete každé pondělí, středu a pátek v 9–⁠12 a v
              13–⁠16 hodin.
            </p>
            <p class="p2">
              Pokud ještě permanentku nemáte, on-line prodej probíhá zde ➡️
              bit.ly/PermanentkyDukla
            </p>
          </a>
        </div>

        <div class="mix__fb mix" data-myorder="4">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/1.jpeg" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__youtube mix" data-myorder="5">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/3.png" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>

        <div class="mix__fb mix" data-myorder="7">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/2.jpeg" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__instagram mix" data-myorder="3">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__twitter mix" data-myorder="8">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale. Vyzvedávat
              permanentky můžete každé pondělí, středu a pátek v 9–⁠12 a v
              13–⁠16 hodin.
            </p>
            <p class="p2">
              Pokud ještě permanentku nemáte, on-line prodej probíhá zde ➡️
              bit.ly/PermanentkyDukla
            </p>
          </a>
        </div>
        <div class="mix__instagram mix" data-myorder="9">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/2.jpeg" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__instagram mix" data-myorder="15">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/2.jpeg" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__instagram mix" data-myorder="16">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/1.jpeg" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__instagram mix" data-myorder="10">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/1.jpeg" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__youtube mix" data-myorder="11">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/3.png" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__tiktok mix" data-myorder="12">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__fb mix" data-myorder="13">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/2.jpeg" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>

        <div class="mix__youtube mix" data-myorder="17">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/3.png" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__tiktok mix" data-myorder="18">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__tiktok mix" data-myorder="6">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__fb mix" data-myorder="19">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__twitter mix" data-myorder="20">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale. Vyzvedávat
              permanentky můžete každé pondělí, středu a pátek v 9–⁠12 a v
              13–⁠16 hodin.
            </p>
            <p class="p2">
              Pokud ještě permanentku nemáte, on-line prodej probíhá zde ➡️
              bit.ly/PermanentkyDukla
            </p>
          </a>
        </div>
        <div class="mix__instagram mix" data-myorder="21">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/2.jpeg" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__twitter mix" data-myorder="14">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale. Vyzvedávat
              permanentky můžete každé pondělí, středu a pátek v 9–⁠12 a v
              13–⁠16 hodin.
            </p>
            <p class="p2">
              Pokud ještě permanentku nemáte, on-line prodej probíhá zde ➡️
              bit.ly/PermanentkyDukla
            </p>
          </a>
        </div>
        <div class="mix__fb mix" data-myorder="22">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/1.jpeg" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__youtube mix" data-myorder="23">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__img">
              <img src="images/content/3.png" loading="lazy" alt="clanek-2" />
            </div>
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
        <div class="mix__tiktok mix" data-myorder="24">
          <a href="#" class="socialFeed__item">
            <div class="socialFeed__box">
              <h6 class="h6">FK Dukla Praha</h6>
              <span>@FKDuklaPraha</span>
            </div>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
            <p class="p2">
              Permanentky na novou sezonu dorazily! Karty na vás budou čekat od
              pondělí v kanceláři číslo 29 ve Sportovní hale.
            </p>
          </a>
        </div>
      </div>
      <button type="button" id="loadMore" class="tag tag-red">
        rozbalit příspěvky
      </button>
    </div>
  </div>
</section>
