.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  a:hover {
    text-decoration: underline;
  }
  li:first-child a {
    border-radius: 8px 0px 0 8px;
  }
  li:last-child a {
    border-radius: 0 8px 8px 0;
  }
}

.tag {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  padding: 7px 12px;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  display: block;
}
.tag-gold {
  color: var(--color-red);
  background-color: var(--color-yellow);
}
.tag-white {
  color: var(--color-dark);
  background-color: var(--color-light);
}
.tag-green {
  background-color: var(--color-green);
  color: var(--color-light);
}
.tag-red {
  background-color: var(--color-red);
  color: var(--color-yellow);
}
.tag-blue {
  background-color: var(--color-blue);
  color: var(--color-yellow);
}
.tag-gray {
  background-color: var(--color-gray);
  &.active,
  &:hover {
    background-color: var(--color-yellow);
  }
}
.tag-top {
  background-color: var(--color-yellow);
  color: var(--color-dark);
}
