// /*
// ====================================================
// Overrides properties from style_index-2013-06-06.css
// Aleksei Spirin
// spirin.aleksei.yurevich@gmail.com
// 28.02.2018
// ====================================================
// */
// body {
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: 10px;
//   display: table;
//   text-align: left;
//   margin: auto;
//   padding: 50px 0px 0px 0px;
//   transition: all 1s ease-out;
// }

// #index_1 .clear,
// #index_2 .clear,
// #index_3 .clear,
// #top_story .clear {
//   clear: both;
//   font-size: 0px;
//   padding: 0px;
//   margin: 0px;
//   line-height: 0px;
//   height: 0px;
// }

// #index_1 #infobar {
//   padding: 5px 0px 10px 0px;
//   color: #282963;
//   font-size: 0.9em;
// }
// #index_1 #infobar a {
//   color: #282963;
//   background: url(../img/arrow.png) no-repeat 0px 4px;
//   padding: 0px 0px 0px 10px;
// }

// #layout #index_1 #index_1_left {
//   float: left;
//   width: 64%;
// }
// #layout #index_1 #index_1_left img {
//   width: 100%;
//   height: auto;
//   z-index: 255;
// }
// #index_1 > #socbar5 {
//   display: none;
// }

// /* ========================= TOP story */

// #top_story .box_articles .show {
//   display: block;
// }

// #top_story .box_articles .box_article {
//   bottom: 0px;
//   left: 0px;
//   background: url(../img/bcg_topstory.png) repeat 0px 0px;
//   padding: 20px 20px 20px 20px;
//   color: #ffffff;
//   margin: -110px 0px 0px 0px;
//   z-index: 256;
//   position: relative;
// }
// #top_story .box_articles .box_article a {
//   color: #ffffff;
// }
// #top_story .box_articles .box_article h1 {
//   color: white;
//   font-size: 1.7em;
//   padding: 0px;
//   margin: 0px;
//   background: none;
//   line-height: 1.1em;
//   letter-spacing: -1px;
// }
// #top_story .box_articles .box_article h1 a {
//   color: white;
//   text-decoration: none;
// }
// #top_story .box_articles .box_article h1 a:hover {
//   text-decoration: underline;
// }
// #top_story .box_articles .box_article p {
//   padding: 10px 0px 0px 0px;
//   margin: 0px;
//   font-size: 0.9em;
//   line-height: 1.3em;
// }
// #top_story .box_articles .box_article .link {
//   padding: 5px 0px 0px 0px;
// }
// #top_story .box_articles .box_article .link a {
//   padding: 0px 10px 0px 0px;
//   font-weight: bold;
//   color: #fff200;
//   font-size: 1.1em;
//   background-position: right 4px;
// }

// #top_story #top_story_thumbs {
//   height: 70px;
//   position: relative;
//   bottom: 7px;
//   left: 0px;
//   cursor: pointer;
//   z-index: 260;
// }
// #top_story #top_story_thumbs a {
//   float: left;
//   margin: 0px;
//   font-weight: bold;
//   padding: 25px 0px 0px 0px;
//   color: white;
//   display: block;
//   width: 33.333%;
//   text-align: center;
//   height: 100%;
//   background: url(../img/bcg_topstory_thumb.png) repeat -1px -97px;
//   text-decoration: none;
//   font-size: 1.1em;
// }

// #top_story #top_story_thumbs a:hover {
//   background: url(../img/bcg_topstory_thumb.png) repeat 1px -100px;
//   color: #0c0e4e;
// }
// #top_story #top_story_thumbs a.selected {
//   background: url(../img/bcg_topstory_thumb.png) repeat -1px 0px;
//   color: #2e3192;
// }

// #top_story #top_story_thumbs a#thumb1 {
//   width: 33%;
//   background-position: 0px -97px;
// }
// #top_story #top_story_thumbs a#thumb1:hover {
//   width: 33%;
//   background-position: 0px 0px;
// }
// #top_story #top_story_thumbs a#thumb1.selected {
//   width: 33%;
//   background-position: 0px 0px;
// }

// #index_1_left #photo_box {
//   /*background: #FFFFFF url(../img/bcg_index_top_foto.png) no-repeat 0px 0px;*/
//   height: 210px;
//   padding: 10px 0px 10px 0px;
//   /*border-bottom: 1px solid #C4C4E0;*/
//   display: inline-flex;
//   width: 100%;
// }

// #layout #index_1 #index_1_right {
//   float: right;
//   width: 300px;
//   margin-right: -11px;
// }

// #index_1_right #box_video {
//   display: table;
//   margin: auto;
// }

// #layout #game_box {
//   display: table;
//   margin: 10% auto;
// }
// #game_box {
//   height: 320px;
// }
// #game_box .box {
//   background: #ffffff url(../img/bcg_box.png) repeat-x;
//   border-bottom: 1px solid #c6c6e1;
//   border-radius: 10px;
//   height: 210px;
//   padding: 10px 20px 10px 20px;
//   max-width: 400px;
//   min-width: 250px;
// }
// #game_box .date {
//   font-size: 0.9em;
//   font-weight: bold;
//   text-align: center;
//   padding-bottom: 3px;
// }
// #game_box .znaky .znak {
//   width: 120px;
// }
// #game_box .teams {
//   padding: 5px 0px 0px 0px;
// }
// #game_box .teams .team {
//   width: 115px;
//   text-align: center;
//   text-transform: uppercase;
//   font-weight: bold;
//   float: left;
// }
// #game_box .teams .online {
//   width: 30px;
//   text-align: center;
//   margin-top: 20px;
//   font-weight: bold;
//   font-size: 1.1em;
//   float: left;
// }
// #game_box .teams .online a {
//   color: #2d83b7;
// }
// #game_box .teams .score {
//   width: 30px;
//   text-align: center;
//   font-weight: bold;
//   font-size: 1.1em;
//   float: left;
// }
// #game_box .teams .score a {
//   color: #ff1a16;
// }
// #game_box input.hlasuj {
//   width: 90px;
//   height: 31px;
//   background: url(../img/bcg_submit.png) no-repeat 0px 0px;
//   font-size: 11px;
//   padding: 0px 0px 0px 0px;
//   border: 0px;
//   text-decoration: none;
//   cursor: pointer;
//   color: #ffffff;
//   font-weight: bold;
//   text-align: center;
//   margin: auto;
// }

// #index_2 .next_articles,
// #index_2 .tabulka,
// #index_2 .news {
//   float: left;
//   width: 300px;
//   margin: auto;
//   padding: 10px;
//   margin-right: -14px;
// }
// #layout .index_boxes_bottom {
//   background: url(../img/bcg_index_boxes_bottom.png) no-repeat 0px 0px;
//   height: 1px;
//   line-height: 0px;
// }
// #layout #index_2 .index_boxes_bottom {
//   background: url(../img/bcg_index_boxes_bottom.png) no-repeat 310px 0px;
//   height: 1px;
//   line-height: 0px;
// }
// #index_2 .box {
//   background: #ffffff url(../img/bcg_box.png) repeat-x;
//   padding: 20px 20px 10px 20px;
//   font-size: 0.9em;
//   min-height: 130px;
// }
// #index_2 .box .link {
//   font-size: 1.2em;
// }

// #layout #index_3 {
//   margin-top: 20px;
// }

// #index_3 .mladez,
// #index_3 .anketa,
// #index_3 .facebook {
//   float: left;
//   width: 300px;
//   margin: auto;
//   padding: 10px;
//   margin-right: -14px;
// }

// /*#index_3 #index_3_bcg	{background: url(../img/bcg_index_boxes_top.png) repeat-y 0px 0px;}*/
// #index_2 .box,
// #index_3 .box {
//   background: #ffffff url(../img/bcg_box.png) repeat-x;
//   width: 260px;
//   padding: 20px 20px 10px 20px;
//   font-size: 0.9em;
//   min-height: 130px;
//   border-bottom: 1px solid #c6c6e1;
//   border-radius: 10px;
// }
// #index_3 .box .link {
//   font-size: 1.2em;
// }

// #index_3 .mladez h3 {
//   font-size: 1.3em;
//   padding: 0px 0px 6px 0px;
// }
// #index_3 .mladez h3.next {
//   font-size: 1em;
//   border-bottom: 1px solid #e5e5f1;
//   padding: 0px 0px 10px 0px;
// }
// #index_3 .mladez h3 a {
//   color: #0c0e4e;
// }
// #index_3 .mladez p {
//   padding: 5px 0px 10px 0px;
//   margin: 0px;
//   line-height: 1.4em;
// }
// #layout #index_3 .mladez p .link a {
//   padding: 0px 10px 0px 0px;
//   background: url(../img/arrow.png) no-repeat right 4px;
// }

// /*
// ==============================================
// Overrides properties from style-2015-02-18.css
// Aleksei Spirin
// spirin.aleksei.yurevich@gmail.com
// 28.02.2018
// ==============================================
// */

// #layout {
//   width: 1160px;
//   margin: auto;
//   word-spacing: normal;
//   letter-spacing: 0;
//   line-height: 1.6em;
//   font-size: 1.2em;
//   position: relative;
// }

// #layout #col_partners {
//   width: 180px;
//   /* kvuli banneru Vysocina Fest - pridano 11.4.
	
// 	margin-top: 230px;
	
// 	*/
//   margin-top: 0px;
//   min-height: 500px;
//   float: right;
// }
// #col_partners .box {
//   margin-bottom: 20px;
//   padding: 10px 10px 10px 10px;
// }
// #col_partners div {
//   margin-bottom: 5px;
// }

// #layout #main {
//   width: 960px;
//   float: left;
// }

// #layout #logo {
//   width: 960px;
//   height: 160px;
//   margin: auto;
//   background: url(/img/fc_vysocina_header_new.png) no-repeat 0px 0px;
//   display: flex; /*This property was unset till 19.4.2022. Fedor Boiarchukov*/
// }

// /* #layout #logo{
// 	width: 960px;
// 	height: 160px;
// 	margin: auto;
// 	background: url(/img/fc_vysocina_header_new_1.png) no-repeat 0px 0px; 
// } */

// #content #text {
//   padding: 20px 20px 10px 20px;
//   width: 570px;
//   background: #ffffff url(../img/bcg_text.png) no-repeat 0px 0px;
//   float: left;
//   font-size: 1.1em;
//   line-height: 1.5em;
//   min-height: 600px;
// }

// #bottom_banners {
//   padding-top: 20px;
// }

// #bottom_banners img {
//   width: auto !important;
//   height: auto !important;
// }

// #bottom {
//   width: 900px;
//   font-size: 1em;
//   margin: auto;
//   color: #ffffff;
//   padding: 20px 0px 0px 0px;
// }
// #bottom a {
//   color: #ffffff;
// }
// #bottom #bottom_menu {
//   color: #efe200;
//   font-weight: bold;
//   text-align: center;
//   text-transform: uppercase;
// }
// #bottom #bottom_menu a {
//   color: #efe200;
// }

// #bottom #bottom_text p {
//   font-size: 0.9em;
//   line-height: 1.4em;
// }
// .facebook .likeboxwrap {
//   width: 450px;
//   height: 300px;
//   transform: scale(0.66);
//   transform-origin: left top;
// }
// #index_3 .anketa .hlasuj input,
// #index-newsletter form input[type="submit"] {
//   color: transparent;
// }
// .next_articles ul li {
//   line-height: 1em;
// }
// /*
// ============================================
// New properties for index page adaptive style
// Note: All, except in #layout, is fixed, 
// #layout scrolled. Root elements have props
// display: flex; flex-direction: column;
// Aleksei Spirin
// spirin.aleksei.yurevich@gmail.com
// 28.02.2018
// ============================================
// */

// #index_1 > #index_1_left,
// #index_1 > #index_1_right {
//   margin: auto;
//   padding: 10px;
// }
// /* .ifr-btm-bnr {    		margin-top: -150px; } */

// @media screen and (min-device-width: 100px) and (max-device-width: 720px) and (orientation: portrait) {
//   /*FONT RESIZE SECTION START*/
//   * {
//     font-size: 2vh;
//     line-height: 2vh;
//   }
//   /*.fucking-eu-cookies, 
// 	.fucking-eu-cookies span, 
// 	.fucking-eu-cookies a						{font-size: 1.5em !important;	line-height: 0.8em !important;}*/
//   #index_1 #infobar a {
//     font-size: 1.2em;
//     line-height: 1.2em;
//   }
//   .header {
//     font-size: 1.2em;
//     line-height: 1.7em;
//     text-align: center;
//   }
//   h1 a {
//     font-size: 0.8em;
//     line-height: 1em;
//   }
//   #layout .tabs a#tab_1_1,
//   #layout .tabs a#tab_1_2,
//   #layout .tabs a#tab_2_1,
//   #layout .tabs a#tab_2_2,
//   #layout .tabs a#tab_3_1,
//   #layout .tabs a#tab_3_2,
//   .tabs a {
//     font-size: 1.2em !important;
//     line-height: 1.7em;
//     text-align: center;
//   }
//   #layout .tabs a#tab_1_1,
//   #layout .tabs a#tab_1_2,
//   #layout #box_video .header {
//     font-size: 1.2em !important;
//   }
//   #box_video .box p {
//     font-size: 0.8em !important;
//     line-height: 0.8em !important;
//   }
//   #game_box .date {
//     line-height: 3vh;
//   }
//   .next_articles ul li a {
//     font-size: 3vw !important;
//   }
//   #game_box .teams .score a {
//     font-size: 1.3em;
//   }
//   table tr td {
//     font-size: 1.3em;
//     line-height: 1.2em;
//   }
//   #news .headers {
//     font-size: 1.4em;
//     line-height: 1.4em;
//   }
//   #news p {
//     font-size: 1.2em;
//   }
//   #main > #bottom {
//     font-size: 2em;
//     line-height: 2em;
//   }
//   #content > #index-newsletter {
//     font-size: 2em;
//   }
//   #index-newsletter form input[type="text"] {
//     font-size: 1.5em;
//   }
//   #index-newsletter form input[type="submit"] {
//     font-size: 1em;
//   }
//   #top_story .box_articles .box_article {
//     font-size: 1.2em;
//   }
//   #top_story #top_story_thumbs a {
//     font-size: 1.2em;
//     line-height: 1em;
//   }
//   .scrollable .items div small {
//     font-size: 1em !important;
//     line-height: 1em !important;
//   }
//   #index_1_right > #game_box {
//     font-size: 1.4em;
//     text-align: left;
//   }
//   #hlasovani_hraci,
//   #hlasovani_nazev strong {
//     font-size: 1.4em !important;
//     line-height: 1em;
//   }
//   #hlasovani_hraci form select {
//     font-size: 0.8em;
//   }
//   #hlasovani_hraci form select option {
//     font-size: 0.4em;
//   }
//   .hlasuj input {
//     font-size: 0.8em;
//   }
//   #index_2 .box .link {
//     font-size: 1em;
//   }
//   #index_2_bcg > .next_articles > ul {
//     font-size: 1.5em;
//   }
//   #news .news_panel .link {
//     font-size: 1em !important;
//   }
//   #index_2_bcg > .news > .box,
//   #index_2_bcg > .tabulka > .box {
//     font-size: 2em;
//     line-height: 1em;
//   }
//   #index_2_bcg .tabulka .link a {
//     font-size: 0.6em;
//   }
//   #layout #tab_box3_1 h3 {
//     text-align: left;
//   }
//   #layout #tab_box3_1 h3 a {
//     font-size: 1.2em;
//   }
//   #index_3 .mladez h3.next {
//     font-size: 1em;
//   }
//   #layout #tab_box3_1 p {
//     font-size: 1.4em;
//     line-height: 1em;
//   }
//   #index_3 .box .link {
//     font-size: 1em;
//   }
//   #layout #tab_box3_1 .link a {
//     font-size: 3vw;
//   }
//   /*fck*/
//   #layout #main #content #index_3 .mladez #tab_box3_1 p span.link a {
//     font-size: 1em;
//   }
//   #index_3 .anketa .anketa_procenta {
//     font-size: 2em;
//   }
//   #index_3 .anketa .anketa_odpoved {
//     font-size: 1em;
//   }
//   #layout .link a {
//     font-size: 1.2em;
//   }
//   .mladez #tab_box3_2 * {
//     font-size: 1vh;
//   }
//   #index_3 .anketa .anketa_odpoved label {
//     font-size: 3vh;
//   }
//   #index_3 .anketa .anketa_procenta {
//     font-size: 2em;
//     color: grey;
//   }
//   #bottom #bottom_menu a {
//     font-size: 1.5em;
//     line-height: 2em;
//   }
//   /*FONT RESIZE SECTION END*/

//   /*BASIC OVERRIDE SETTINGS*/

//   body {
//     margin: auto;
//     padding: 10px;
//   }
//   /*.fucking-eu-cookies button 					{width: 20%;   height: 50px;}*/
//   .fucking-eu-cookies {
//     display: none !important;
//   }
//   body {
//     display: block;
//     width: 100% !important;
//     transform-origin: left top;
//     padding: 0 0 0 0;
//     margin: 0 0 0 0;
//     height: 100%;
//     position: fixed;
//     background: #dfdfef !important;
//   }

//   #layout {
//     width: 91% !important;
//     flex-direction: column;
//     margin: 0 auto;
//     overflow-x: hidden;
//     overflow-y: scroll;
//     height: 100vh;
//     position: relative;
//   }
//   #layout > #main {
//     order: 1;
//   }
//   #layout > #col_partners {
//     order: 2;
//   }
//   #layout > #col_partners {
//     display: none;
//   }

//   #index_1 #infobar {
//     padding: 30px 0px 30px 0px;
//   }

//   .header {
//     height: 4vh;
//     width: 40%;
//     margin: 3vh 0 0 0;
//     background-image: none;
//     display: inline-block;
//     outline: none;
//     border-color: #fdbe33 #000 #efe200;
//     background: linear-gradient(#f3ae0f, #fff200) #ffbf6e;
//     transition: 0.2s;
//     border-top-left-radius: 20px;
//     border-top-right-radius: 20px;
//   }
//   #layout .tabs {
//     padding: 0 0 40px 0;
//   }

//   #layout .tabs a#tab_1_1,
//   #layout .tabs a#tab_1_2,
//   #layout .tabs a#tab_2_1,
//   #layout .tabs a#tab_2_2,
//   #layout .tabs a#tab_3_1,
//   #layout .tabs a#tab_3_2,
//   #layout .tabs {
//     height: 3vh;
//   }
//   .tabs a {
//     height: 100% !important;
//     width: 40% !important;
//     padding: 10px 0px 15px 20px !important;
//     margin: 20px 0 0 0 !important;
//     background-image: none !important;
//     display: inline-block !important;
//     outline: none !important;
//     border-color: #fdbe33 #000 #efe200 !important;
//     background: linear-gradient(#f3ae0f, #fff200) #ffbf6e !important;
//     transition: 0.2s;
//     border-top-left-radius: 20px;
//     border-top-right-radius: 20px;
//   }

//   #layout .tabs a#tab_1_1.on,
//   #layout .tabs a#tab_1_2.on,
//   #layout .tabs a#tab_2_1.on,
//   #layout .tabs a#tab_2_2.on,
//   #layout .tabs a#tab_3_1.on,
//   #layout .tabs a#tab_3_2.on {
//     background: linear-gradient(#f3ae0f, #fff200) #ffbf6e !important;
//   }
//   #layout .tabs a#tab_1_1.off,
//   #layout .tabs a#tab_1_2.off,
//   #layout .tabs a#tab_2_1.off,
//   #layout .tabs a#tab_2_2.off,
//   #layout .tabs a#tab_3_1.off,
//   #layout .tabs a#tab_3_2.off {
//     background: linear-gradient(#323f83, #7280c4) #0019f5 !important;
//   }

//   #layout #box_video .link2 {
//     width: 100%;
//     text-align: right;
//   }

//   #main {
//     display: flex;
//     flex-direction: column;
//     width: 100% !important;
//     max-width: 100% !important;
//     min-width: 100% !important;
//     clear: both;
//     transition: all 0.2s;
//   }
//   #es-strip-container,
//   #main > #ads_top,
//   #main > #logo {
//     display: none;
//   }

//   #main > #content {
//     order: 1;
//   }
//   #main > #bottom {
//     order: 2;
//   }
//   #main > #bottom {
//     width: 100%;
//   }
//   #main > #bottom {
//     display: none;
//   }
//   #content {
//     display: flex;
//     flex-direction: column;
//   }
//   #layout #content {
//     width: 100%;
//     padding: 0px 0 20px 0;
//   }
//   #content > #menu {
//     display: none;
//   }

//   #content > #index_1 {
//     order: 1;
//   }
//   #content > #index_2 {
//     order: 2;
//   }
//   #content > #index-newsletter {
//     order: 3;
//   }
//   #content > #bottom_banners {
//     order: 4;
//   }
//   #content > #index_3 {
//     order: 5;
//   }

//   #content > #index-newsletter {
//     width: 100%;
//     margin: 20px;
//     display: flex;
//     flex-direction: column;
//   }
//   #content > #index-newsletter form {
//     display: inline-flex;
//     margin: 1vh 0 0 0;
//   }
//   #index-newsletter form input[type="text"] {
//     width: 60%;
//     height: auto;
//     border-radius: 6px;
//   }
//   #index-newsletter form input[type="submit"],
//   #index_3 .anketa .hlasuj input[type="submit"] {
//     width: 40%;
//     height: 4vh;
//     display: inline-block;
//     color: white;
//     text-decoration: none;
//     outline: none;
//     border-width: 2px 0;
//     border-style: solid none;
//     border-color: #fdbe33 #000 #d77206;
//     border-radius: 6px;
//     background: linear-gradient(#f3ae0f, #e38916) #e38916;
//     transition: 0.2s;
//   }
//   #index-newsletter form input[type="submit"] :hover {
//     background: linear-gradient(#f5ae00, #f59500) #f5ae00;
//   }
//   #index-newsletter form input[type="submit"] :active {
//     background: linear-gradient(#f59500, #f5ae00) #f59500;
//   }
//   #index_3 .anketa .hlasuj input[type="submit"] {
//     width: 30%;
//     font-size: 1em;
//   }

//   #index_1 {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
//   #index_1 > #index_1_left {
//     order: 1;
//   }
//   #index_1 > #socbar5 {
//     order: 2;
//   }
//   #index_1 > #index_1_right {
//     order: 3;
//   }

//   #index_1 > #index_1_left,
//   #index_1 > #index_1_right {
//     width: 100% !important;
//   }

//   #layout #index_1 > #index_1_left,
//   #layout #index_1 > #index_1_right {
//     margin: 0 0;
//     padding: 0px;
//   }

//   #layout #index_1 > #index_1_right {
//     display: block;
//     text-align: center;
//   }
//   #index_1 > #socbar5 {
//     background: url(/img/fcvysocina-socbar5.png) no-repeat;
//     width: 60vw;
//     height: 15vw;
//     background-size: 60vw 15vw;
//     margin: 5vw 0 0 0;
//     display: flex;
//   }
//   #index_1 > #socbar5 > a {
//     flex-grow: 1;
//   }

//   #index_1_left #photo_box {
//     background: #ffffff;
//     background-image: none;
//   }

//   #top_story .box_articles .box_article {
//     position: absolute;
//     bottom: 0;
//     background-image: none;
//     background: linear-gradient(
//         rgba(50, 63, 131, 0.5),
//         rgba(114, 128, 196, 0.5)
//       )
//       rgba(0, 25, 245, 0.5);
//   }
//   #top_story .box_articles {
//     height: 38vh;
//     position: relative;
//     overflow: hidden;
//   }
//   #top_story #top_story_thumbs {
//     height: 100%;
//     display: flex;
//   }
//   #top_story #top_story_thumbs a {
//     background-position: 0 0 !important;
//     background-image: none;
//     background: linear-gradient(#f3ae0f, #fff200) #ffbf6e;
//     height: 12vw;
//     overflow: hidden;
//     position: relative;
//     color: white;
//     text-shadow: black 0.1em 0.1em 0.2em;
//     padding: 25px 0px 25px 0px;
//   }
//   #top_story #top_story_thumbs a:hover,
//   #top_story #top_story_thumbs a.selected {
//     background-position: 0 0 !important;
//     background-image: none;
//     color: #fff200;
//     text-shadow: black 0.1em 0.1em 0.2em;
//     background: linear-gradient(#323f83, #7280c4) #0019f5;
//   }
//   a.browse {
//     margin: 90px 10px 0px 10px !important;
//     background: none !important;
//   }
//   #index_1_left #photo_box {
//     height: 300px;
//   }
//   a.left {
//     background: none;
//     background-image: none;
//     width: 0;
//     height: 0;
//     border-top: 50px solid transparent;
//     border-bottom: 50px solid transparent;
//     border-right: 50px solid #7280c4;
//   }
//   a.right {
//     width: 0;
//     height: 0;
//     border-top: 50px solid transparent;
//     border-bottom: 50px solid transparent;
//     border-left: 50px solid #7280c4;
//   }
//   a.browse {
//     height: 0px !important;
//     top: -25% !important;
//   }

//   #index_1_right > #box_video,
//   #index_1_right > #game_box {
//     width: 100%;
//     float: none;
//     display: inline-block;
//     vertical-align: middle;
//     margin: 2vh 0 0 0;
//     text-align: left;
//   }
//   #box_video #mediaspace {
//     height: 500px !important;
//     width: 100% !important;
//   }
//   #mediaspace_displayarea {
//     margin: 0 auto;
//   }

//   #index_1_right > #game_box > #tab_box1_1,
//   #index_1_right > #game_box > #tab_box1_2 {
//     width: 100%;
//     min-width: 100%;
//     max-width: 100%;
//     height: 100%;
//     padding: 0 0 2% 0;
//   }
//   #index_1_right > #game_box > #tab_box1_1 {
//     display: inline-block;
//     width: 100%;
//   }
//   #index_1_right > #game_box > .box > .game > .znaky {
//     display: block;
//     text-align: center;
//   }
//   #index_1_right > #game_box > .box > .game > .znaky > .znak {
//     margin: 0 8%;
//     float: none;
//     display: inline-block;
//     vertical-align: middle;
//     width: 30%;
//   }
//   #index_1_right > #game_box > .box > .game > .znaky > .znak > img {
//     width: 100%;
//     height: auto;
//   }

//   #game_box .teams {
//     display: block;
//     text-align: center;
//   }
//   #game_box .teams .team,
//   #game_box .teams .score {
//     width: 40%;
//     float: none;
//     display: inline-block;
//     vertical-align: middle;
//   }
//   #game_box .teams .score {
//     width: 6%;
//   }

//   #box_video .box {
//     height: auto;
//   }
//   #partneri {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//   }
//   #partneri table {
//     width: 90%;
//   }

//   #index_2 {
//     display: flex;
//     flex-direction: column;
//   }
//   #index_2 > .next_articles {
//     order: 1;
//   }
//   #index_2 > .news {
//     order: 2;
//   }
//   #index_2 > .tabulka {
//     order: 3;
//   }
//   #index_2 > #index_2_bcg {
//     order: 4;
//   }
//   #index_2 > #index_boxes_bottom {
//     order: 5;
//   }

//   #bottom_banners,
//   #index_2_bcg {
//     display: block;
//     text-align: center;
//   }
//   /*#index_2_bcg > .next_articles{order: 1; }
//     #index_2_bcg > .news 		 {order: 2; }
// 	#index_2_bcg > .tabulka      {order: 3; }*/

//   #index_2_bcg > .next_articles,
//   #index_2_bcg > .news,
//   #index_2_bcg > .tabulka {
//     float: none;
//     display: inline-block;
//     text-align: left;
//     vertical-align: middle;
//     width: 100%;
//     margin: 2vh 0 0 0;
//     padding: 0 0 0 0;
//   }
//   #bottom_banners {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: center;
//     align-items: center;
//     height: auto;
//     width: 100%;
//     padding: 0 0;
//     margin: 0 0;
//   }
//   #bottom_banners a {
//     width: 50% !important;
//     height: auto !important;
//     padding: 0 0;
//     margin: 0 0;
//   }
//   #bottom_banners img {
//     width: 100% !important;
//     padding: 0 0;
//     margin: 0 0;
//   }

//   #news .news_panel {
//     height: 700px;
//   }

//   #index_2_bcg > .news > .box,
//   #index_2_bcg > .tabulka > .box {
//     width: 96%;
//     height: 700px;
//     line-height: 1em;
//     padding: 20px;
//   }
//   #index_2_bcg > .tabulka > .box {
//     height: 100%;
//     line-height: 1.5em;
//   }

//   #index_3 {
//     display: flex;
//     flex-direction: column;
//   }

//   #index_3_bcg {
//     display: flex;
//     flex-direction: column;
//   }
//   /*#index_3_bcg > .mladez                 {order: 1; }
//     #index_3_bcg > .anketa                 {order: 2; }
//     #index_3_bcg > .facebook               {order: 3; }
// 	#index_3_bcg > #index_boxes_bottom     {order: 4; }*/
//   #index_3_bcg > .mladez,
//   #index_3_bcg > .anketa,
//   #index_3_bcg > .facebook,
//   #index_3_bcg > #index_boxes_bottom {
//     float: none;
//     display: inline-block;
//     text-align: left;
//     vertical-align: middle;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 0 0 0;
//   }

//   #index_3_bcg > .mladez {
//     height: 700px;
//     overflow: hidden;
//   }
//   #layout #tab_box3_1 p {
//     padding: 20px;
//   }

//   #index_3_bcg .box {
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 0 0 0;
//     display: block;
//     text-align: center;
//     height: 100%;
//   }
//   #index_3_bcg .box img {
//     width: 100%;
//     height: auto;
//   }
//   #tab_box3_1 > a > img {
//     display: none;
//   }
//   #index_3_bcg .box form {
//     margin: 0 4vw;
//   }

//   #index_3 .anketa .anketa_odpoved input {
//     width: 60px;
//     height: 60px;
//   }
//   #index_3 .anketa .anketa_otazka {
//     padding: 4vw 0 0 4vw;
//   }
//   #index_3 .anketa .anketa_procenta {
//     float: right;
//     margin: -20px 0 20px 0;
//   }
//   #index_3 .anketa .anketa_odpoved label {
//     width: 85%;
//   }
//   #index_3 .anketa .anketa_graf {
//     width: 100%;
//   }
//   #index_3 .anketa .anketa_graf_vyplnene {
//     height: 40px;
//     background: linear-gradient(#323f83, #7280c4) #0019f5;
//     border-radius: 20px;
//   }
//   #index_3 .anketa .space.anketa_space {
//     margin: 0 0 4% 0;
//   }
//   .mladez .tabs {
//     height: 31px;
//   }
//   #layout #tab_box3_1 h3 {
//     text-align: center;
//     padding: 20px 0 20px 0;
//   }
//   .mladez #tab_box3_2_scale {
//   }

//   .mladez #tab_box3_2.hidden {
//     height: 0px !important;
//   }

//   .mladez #tab_box3_2 {
//     transform: scale(2);
//     transform-origin: center top;
//     line-height: 1em;
//     padding: 10px 0 20px 0;
//   }
//   .mladez #tab_box3_2 #months {
//     background: none;
//     border-left: none;
//     border-right: none;
//   }
//   .mladez #tab_box3_2 table#kalendar th {
//     background: none;
//     height: auto;
//     padding: 0 0 0 0;
//   }
//   .mladez .tabs {
//     padding: 0 0 33px 0 !important;
//   }

//   .facebook .likeboxwrap {
//     width: 100%;
//     height: 460px;
//     transform: scale(2);
//     transform-origin: left top;
//   }
//   /* .ifr-btm-bnr {    
// 		margin-top: -250px;
// 		margin-bottom: 50px;
//     	padding: 0 0;
//     	display: flex;
// 		flex-direction: column;
//     	justify-content: center;
//     	align-items: center;
//     	width: 100%;
//     	height: 400px;
//     	overflow: hidden;
//     	transform: scale(3);
//     	transform-origin: top;
// 		} */
//   .fb-page,
//   .fb-page iframe[style],
//   .fb-page span {
//     width: 100% !important;
//   }

//   .mladez #tab_box3_2 table#kalendar tr td div,
//   .mladez #tab_box3_2 table#kalendar tr td span#kalDnesek {
//     height: 100%;
//   }
//   #mediaspace_wrapper {
//     width: 100% !important;
//     overflow: hidden !important;
//   }
//   .hidden {
//     display: none !important;
//   }

//   #tab_box3_1 > div.link {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin: 4vw;
//   }
//   #tab_box3_1 {
//     overflow-x: scroll;
//     height: 60vw !important;
//   }
//   .box {
//     background: #ffffff !important;
//   }
// }
// #tab_box3_1 {
//   height: 230px;
//   overflow-y: scroll;
//   overflow-x: hidden;
// }

// .multiple-items {
//   max-width: 100%;
//   max-heigh: 200px;
//   overflow: hidden;
//   text-align: center;
// }
// .multiple-items .image {
//   width: 200px;
//   height: 150px;
//   overflow: hidden;
//   margin: 0 auto;
// }
// .multiple-items p {
//   display: block;
//   line-height: 1.1em;
//   padding: 5px 20px 0px 0px;
//   text-align: center;
//   font-size: 1.2em;
//   text-align: center;
//   text-decoration: none;
// }

// a.browse {
//   display: block;
//   width: 27px;
//   height: 37px;
//   position: absolute;
//   top: 50%;
//   cursor: pointer;
//   font-size: 1px;
//   z-index: 1000;
// }
// a.left {
//   margin-right: 8px;
//   background: url(../../img/arrow_photo_left.png) no-repeat;
// }

// a.right {
//   margin-right: 8px;
//   background: url(../../img/arrow_photo_right.png) no-repeat;
//   right: 0%;
// }

// iframe {
//   width: 100%;
// }
// #layout #logo {
//   display: flex !important;
// }

// #layout #logo a {
//   text-decoration: none !important;
//   width: 740px !important;
//   height: 140px !important;
//   display: block !important;
//   float: left !important;
// }

// #layout #logo a#social1,
// #layout #logo a#social2,
// #layout #logo a#social3,
// #layout #logo a#social4,
// #layout #logo a#social5 {
//   text-decoration: none !important;
//   width: 40px !important;
//   height: 40px !important;
//   display: block !important;
//   align-self: flex-end !important;
//   margin-right: 0px !important;
//   float: left !important;
//   margin-bottom: 10px !important;
// }
// #layout #logo a#social5 {
//   margin-left: 0px !important;
//   position: relative !important;
// }

// #social4 {
//   /*Due to new banner not having a google+ icon, the #social4 display is set to none. Fedor Boiarchukov 19.4.2022*/
//   display: none !important;
// }

// /*old order 5 1 3 2*/
// /*new order 1 5 2 3 not including main banner
// Fedor Boiarchukov 20.4.2022*/

// #social1 {
//   order: 0 !important;
// }

// #social2 {
//   order: 3 !important;
//   padding-right: 10px !important;
// }

// #social3 {
//   order: 4 !important;
//   padding-left: 10px !important;
// }

// #social5 {
//   order: 2 !important;
// }

// #layout #logo a#social1 {
//   margin-left: 3rem;
// }

// #layout #logo a#social2 {
// }

// #layout #logo a#social3 {
// }

// #layout #logo a#hrac12 {
//   display: none !important;
//   width: 45px !important;
//   height: 45px !important;
// }

// #layout #content {
//   width: 920px !important;
//   background: white !important;
//   margin: auto !important;
//   font-size: 1.1em !important;
//   line-height: 1.5em !important;
// }

// .mobile-menu-fixed-state {
//   position: absolute !important;
//   top: 30px;
// }

// .mobile-menu {
//   display: none;
//   width: 100%;
//   background: #7280c4 /*e0b88f/*c99393/*e5d1a4/*dcc591/*EFD3A3*/;
//   line-height: 1.6em;
//   font-weight: 400;
//   text-align: center;
//   position: relative;
// }
// /*Strip the ul of padding and list styling*/
// .mobile-menu ul {
//   list-style-type: none;
//   margin: 0 auto;
//   padding-left: 0;
//   text-align: center;
//   width: 100%;
//   position: absolute;
//   background: #7280c4;
// }

// /*Create a horizontal list with spacing*/
// .mobile-menu li {
//   display: inline-block;
// }

// /*Style for menu links*/
// .mobile-menu li a {
//   display: block;
//   min-width: 140px;
//   text-align: center;
//   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//   color: #fff;
//   text-transform: uppercase;
//   background: #7280c4;
//   text-decoration: none;
//   padding: 40px;
//   -webkit-transition: all 0.4s ease 0s;
//   -moz-transition: all 0.4s ease 0s;
//   -ms-transition: all 0.4s ease 0s;
//   -o-transition: all 0.4s ease 0s;
//   transition: all 0.4s ease 0s;
// }
// .mobile-menu li a .mmsign {
//   display: block;
//   color: #4db3ff;
//   float: right;
//   margin: 0 6vh;
//   font-weight: bold;
//   font-size: 1.2em;
// }

// /*Hover state for top level links*/
// .mobile-menu li:hover a {
//   color: #4db3ff;
//   background-color: #ccddee;
// }

// /*Style for dropdown links*/
// .mobile-menu li:hover ul a {
//   background: #f3f3f3;
//   color: #2f3036;
//   height: 40px;
//   line-height: 40px;
// }

// /*Hover state for dropdown links*/
// .mobile-menu li:hover .mobile-menu ul a:hover {
//   color: #4db3ff;
// }

// /*Hide dropdown links until they are needed*/
// .mobile-menu li ul {
//   display: none;
// }

// /*Make dropdown links vertical*/
// .mobile-menu ul li ul li {
//   display: block;
//   float: none;
// }

// /*Prevent text wrapping*/
// .mobile-menu li ul li a {
//   width: 100%;
//   min-width: 100px;
//   padding: 50px;
//   font-size: 40px;
//   -webkit-transition: all 0.4s ease 0s;
//   -moz-transition: all 0.4s ease 0s;
//   -ms-transition: all 0.4s ease 0s;
//   -o-transition: all 0.4s ease 0s;
//   transition: all 0.4s ease 0s;
// }
// /*Display the dropdown on hover*/
// .mobile-menu ul li a:hover + .mmhidden,
// .mobile-menu .mmhidden:hover {
//   display: block;
// }

// /*Style 'show menu' label button and hide it by default*/
// .mobile-menu .show-menu {
//   text-decoration: none;
//   color: #fff;
//   background: #323f83;
//   text-align: center;
//   padding: 10px 15px;
//   display: none;
//   cursor: pointer;
//   text-transform: uppercase;
// }

// .mobile-menu .show-menu span {
//   padding-left: 35px;
// }

// /*Hide checkbox*/
// .mobile-menu input[type="checkbox"] {
//   display: none;
// }

// /*Show menu when invisible checkbox is checked*/
// .mobile-menu input[type="checkbox"]:checked ~ .scrollcnt #mbl-menu {
//   display: block;
// }
// .scrollcnt {
//   max-height: 90vh;
//   position: fixed;
//   overflow-y: scroll;
// }
// .mobile-menu img {
//   margin-top: -20px;
//   margin-left: 6%;
//   width: 150px;
//   z-index: 10;
//   position: relative;
// }

// /*Responsive Styles*/

// @media screen and /*(min-width:100px) and (max-width: 720px),
//   */ (min-device-width: 100px) and (max-device-width: 720px) and (orientation: portrait) {
//   .mobile-menu {
//     display: none;
//   }
// }
// @media screen and /*(min-width:100px) and (max-width: 720px),
//   */ (min-device-width: 100px) and (max-device-width: 720px) and (orientation: portrait) {
//   .mobile-menu {
//     display: block;
//     -webkit-box-shadow: -1px 9px 21px 2px rgba(0, 0, 0, 0.75);
//     -moz-box-shadow: -1px 9px 21px 2px rgba(0, 0, 0, 0.75);
//     box-shadow: -1px 9px 21px 2px rgba(0, 0, 0, 0.75);
//     z-index: 3000;
//   }
//   .mobile-menu .lines {
//     border-bottom: 30px double #f8f8f8;
//     border-top: 10px solid #f8f8f8;
//     content: "";
//     height: 9px;
//     width: 50px;
//     padding-right: 5px;
//     float: right;
//     margin: 20px;
//   }
//   /*Make dropdown links appear inline*/
//   .mobile-menu ul {
//     position: static;
//     display: none;
//   }
//   /*Create vertical spacing*/
//   .mobile-menu li {
//     font-size: 2em;
//   }
//   /*Make all menu links full width*/
//   .mobile-menu ul li,
//   .mobile-menu li a {
//     width: 100%;
//     float: left;
//     text-align: left;
//     font-size: 1.2em;
//   }
//   /*Display 'show menu' link*/
//   .mobile-menu .show-menu {
//     display: block;
//     height: 100px;
//   }
// }
// /*@media screen and (min-width:100px) and (max-width:720px)
// {
//   .mobile-menu .show-menu {		height: 50px;	}
//   .mobile-menu .lines 	{		margin: 0px;	}
//   .mobile-menu img 		{		margin-top: -8px;width: 90px;}
//   .mobile-menu ul li, 
//   .mobile-menu li a 		{    	width: 97%;		}
//   .mobile-menu li a 		{		padding: 20px;	}
//   .mobile-menu li ul li a {    padding: 20px;		font-size: 20px;}
//   .mobile-menu li:hover ul a {		height: 20px;		line-height: 20px;}
// }*/
// div#es-strip-container {
//   border: none;
//   width: 100%;
//   height: 40px;
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   z-index: 100000;
// }

// div.es-strip {
//   color: #6c6c6c;
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: 11px;
//   height: 40px;
//   line-height: 40px;
//   text-transform: uppercase;
//   width: 100%;
// }

// div.es-strip img {
//   border: none;
//   display: block;
// }

// div.es-green {
//   height: 40px;
//   background: #1f6023;
//   background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE5ODMgNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBiNTMyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxNmYyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTk4MyIgaGVpZ2h0PSI0MCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
//   background-image: -moz-linear-gradient(bottom, #0b5325 0%, #216f21 100%);
//   background-image: -o-linear-gradient(bottom, #0b5325 0%, #216f21 100%);
//   background-image: -webkit-linear-gradient(bottom, #0b5325 0%, #216f21 100%);
//   background-image: linear-gradient(bottom, #0b5325 0%, #216f21 100%);
//   -moz-box-shadow: 0 1px 0 #0c5425;
//   -webkit-box-shadow: 0 1px 0 #0c5425;
//   box-shadow: 0 1px 0 #0c5425;
// }

// div.es-green div.es-divider {
//   background: #0c5425;
//   border-left: 1px solid #206e21;
//   margin: 0 15px;
//   height: 100%;
//   width: 1px;
// }

// div.es-green a,
// div.es-green a:visited {
//   color: #868686;
//   font-size: 14px;
//   text-shadow: 0 -1px 0 #fff;
//   text-transform: uppercase;
//   font-weight: bold;
// }

// div.es-green a:hover {
//   text-decoration: none;
// }

// div.es-light {
//   height: 40px;
//   background-color: #d8d8d8;
//   -moz-box-shadow: 0 1px 0 #b1b1b1;
//   -webkit-box-shadow: 0 1px 0 #b1b1b1;
//   box-shadow: 0 1px 0 #b1b1b1;
//   background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIxNDAgNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMjE0MCIgaGVpZ2h0PSI0MCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
//   background-image: -moz-linear-gradient(bottom, #d3d3d3 0%, #f1f1f1 100%);
//   background-image: -o-linear-gradient(bottom, #d3d3d3 0%, #f1f1f1 100%);
//   background-image: -webkit-linear-gradient(bottom, #d3d3d3 0%, #f1f1f1 100%);
//   background-image: linear-gradient(bottom, #d3d3d3 0%, #f1f1f1 100%);
// }

// div.es-light div.es-divider {
//   background: #bfbfbf;
//   border-left: 1px solid #f1f1f1;
//   margin: 0 15px;
//   height: 100%;
//   width: 1px;
// }

// div.es-light a,
// div.es-light a:visited {
//   color: #868686;
//   font-size: 14px;
//   text-shadow: 0 -1px 0 #fff;
//   text-transform: uppercase;
//   font-weight: bold;
//   height: 40px;
// }

// div.es-light a:hover {
//   text-decoration: none;
// }

// div.es-dark {
//   height: 40px;
//   background-color: #424242;
//   -moz-box-shadow: 0 1px 0 #000;
//   -webkit-box-shadow: 0 1px 0 #000;
//   box-shadow: 0 1px 0 #000;
//   background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIxNDAgNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU3NTc1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMjE0MCIgaGVpZ2h0PSI0MCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
//   background-image: -moz-linear-gradient(bottom, #1e1e1e 0%, #575757 100%);
//   background-image: -o-linear-gradient(bottom, #1e1e1e 0%, #575757 100%);
//   background-image: -webkit-linear-gradient(bottom, #1e1e1e 0%, #575757 100%);
//   background-image: linear-gradient(bottom, #1e1e1e 0%, #575757 100%);
// }

// div.es-dark div.es-divider {
//   background: #646464;
//   border-left: 1px solid #636363;
//   margin: 0 15px;
//   height: 100%;
//   width: 1px;
// }

// div.es-dark a,
// div.es-dark a:visited {
//   color: #868686;
//   font-size: 14px;
//   text-shadow: 0 -1px 0 #000;
//   text-transform: uppercase;
//   font-weight: bold;
//   height: 40px;
// }

// div.es-dark a:hover {
//   text-decoration: none;
// }

// div.es-with-menu div.es-menu-inner {
//   width: 845px;
//   margin: auto;
// }

// div.es-with-logos div.es-menu-inner {
//   width: 1100px;
//   margin: auto;
// }

// div.es-dark.es-with-menu div.es-menu-inner {
//   width: 1200px;
// }

// div.es-dark.es-with-logos div.es-menu-inner {
//   width: 1365px;
// }

// div.es-dark.es-with-logos div.es-menu-inner-fn {
//   width: 1100px;
// }

// div.es-light.es-with-menu div.es-menu-inner {
//   width: 1300px;
// }

// div.es-light.es-with-logos div.es-menu-inner {
//   width: 1365px;
// }

// div.es-light.es-with-logos div.es-menu-inner-fn {
//   width: 1020px;
// }

// div.es-all div.es-menu-inner {
//   width: 970px;
//   margin: auto;
// }

// .es-strip-item {
//   display: block;
//   float: left;
// }

// .es-logo {
//   margin-top: 7px;
// }

// .es-logo-border {
//   margin-top: 7px;
//   width: 72px;
//   height: 30px;
//   margin-left: 5px;
// }

// .es-logo-border img {
//   width: 72px;
//   height: 30px;
// }

// .es-logo-gl {
//   margin-top: 7px;
//   margin-left: 0;
// }

// .es-logo-gl.es-logo-border {
//   margin-top: 7px;
//   height: 27px;
//   width: 37px;
// }

// .es-logo-border.es-logo-gl img {
//   height: 27px;
//   width: 37px;
// }

// #es-logo-lfa {
//   padding-top: 1px;
// }

// #es-logo-lfa img {
//   height: 25px;
// }

// .es-logo-fn {
//   margin-top: 6px;
// }

// div.es-menu {
//   margin: 0;
//   padding: 0;
// }

// div.es-green div.es-menu span.es-menu-title {
//   -moz-border-radius: 4px;
//   -webkit-border-radius: 4px;
//   border-radius: 4px;
//   -moz-background-clip: padding;
//   -webkit-background-clip: padding-box;
//   background-clip: padding-box;
//   background-color: #ffffff;
//   -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 #ffffff;
//   -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 #ffffff;
//   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 #ffffff;
//   background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE0MiAyNyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSIgeDI9IjUwJSIgeTI9IjEwMCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDciLz4KPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNyIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNyIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjE0MiIgaGVpZ2h0PSIyNyIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
//   background-image: -moz-linear-gradient(
//     top,
//     rgba(0, 0, 0, 0.07) 0%,
//     rgba(255, 255, 255, 0.07) 60.01%,
//     rgba(255, 255, 255, 0.07) 100%
//   );
//   background-image: -o-linear-gradient(
//     top,
//     rgba(0, 0, 0, 0.07) 0%,
//     rgba(255, 255, 255, 0.07) 60.01%,
//     rgba(255, 255, 255, 0.07) 100%
//   );
//   background-image: -webkit-linear-gradient(
//     top,
//     rgba(0, 0, 0, 0.07) 0%,
//     rgba(255, 255, 255, 0.07) 60.01%,
//     rgba(255, 255, 255, 0.07) 100%
//   );
//   background-image: linear-gradient(
//     top,
//     rgba(0, 0, 0, 0.07) 0%,
//     rgba(255, 255, 255, 0.07) 60.01%,
//     rgba(255, 255, 255, 0.07) 100%
//   );
//   margin: 7px 10px 0 0;
//   padding: 0;
//   display: block;
//   height: 28px;
//   line-height: 28px;
//   cursor: pointer;
//   font-weight: bold;
//   width: 140px;
//   border-left: 1px solid #ffffff;
//   border-right: 1px solid #ffffff;
//   text-align: center;
// }

// div.es-light div.es-menu span.es-menu-title {
//   -moz-border-radius: 4px;
//   -webkit-border-radius: 4px;
//   border-radius: 4px;
//   -moz-background-clip: padding;
//   -webkit-background-clip: padding-box;
//   background-clip: padding-box;
//   background-color: #ffffff;
//   -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 #ffffff;
//   -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 #ffffff;
//   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 #ffffff;
//   background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE0MiAyNyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSIgeDI9IjUwJSIgeTI9IjEwMCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDciLz4KPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNyIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNyIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjE0MiIgaGVpZ2h0PSIyNyIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
//   background-image: -moz-linear-gradient(
//     top,
//     rgba(0, 0, 0, 0.07) 0%,
//     rgba(255, 255, 255, 0.07) 60.01%,
//     rgba(255, 255, 255, 0.07) 100%
//   );
//   background-image: -o-linear-gradient(
//     top,
//     rgba(0, 0, 0, 0.07) 0%,
//     rgba(255, 255, 255, 0.07) 60.01%,
//     rgba(255, 255, 255, 0.07) 100%
//   );
//   background-image: -webkit-linear-gradient(
//     top,
//     rgba(0, 0, 0, 0.07) 0%,
//     rgba(255, 255, 255, 0.07) 60.01%,
//     rgba(255, 255, 255, 0.07) 100%
//   );
//   background-image: linear-gradient(
//     top,
//     rgba(0, 0, 0, 0.07) 0%,
//     rgba(255, 255, 255, 0.07) 60.01%,
//     rgba(255, 255, 255, 0.07) 100%
//   );
//   margin: 7px 10px 0 0;
//   padding: 0;
//   display: block;
//   height: 28px;
//   line-height: 28px;
//   cursor: pointer;
//   font-weight: bold;
//   width: 140px;
//   border-left: 1px solid #ffffff;
//   border-right: 1px solid #ffffff;
//   text-align: center;
// }

// div.es-dark div.es-menu span.es-menu-title {
//   -moz-border-radius: 4px;
//   -webkit-border-radius: 4px;
//   border-radius: 4px;
//   -moz-background-clip: padding;
//   -webkit-background-clip: padding-box;
//   background-clip: padding-box;
//   background-color: #7a7a7a;
//   -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15),
//     inset 0 1px 0 rgba(255, 255, 255, 0.15);
//   -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15),
//     inset 0 1px 0 rgba(255, 255, 255, 0.15);
//   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15),
//     inset 0 1px 0 rgba(255, 255, 255, 0.15);
//   background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE0MiAyOCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTM5MzkzIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiM5MzkzOTMiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NTY1NjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjE0MiIgaGVpZ2h0PSIyOCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
//   background-image: -moz-linear-gradient(
//     bottom,
//     #939393 0%,
//     #939393 10.01%,
//     #656565 100%
//   );
//   background-image: -o-linear-gradient(
//     bottom,
//     #939393 0%,
//     #939393 10.01%,
//     #656565 100%
//   );
//   background-image: -webkit-linear-gradient(
//     bottom,
//     #939393 0%,
//     #939393 10.01%,
//     #656565 100%
//   );
//   background-image: linear-gradient(
//     bottom,
//     #939393 0%,
//     #939393 10.01%,
//     #656565 100%
//   );
//   margin: 7px 10px 0 0;
//   padding: 0;
//   display: block;
//   height: 28px;
//   line-height: 28px;
//   cursor: pointer;
//   font-weight: bold;
//   width: 140px;
//   border-left: 1px solid rgba(255, 255, 255, 0.15);
//   border-right: 1px solid rgba(255, 255, 255, 0.15);
//   color: #dedede;
//   text-align: center;
// }

// div.es-menu.es-menu-projekty span.es-menu-title {
//   margin-right: 0 !important;
//   width: 160px !important;
// }

// div.es-menu div.es-menu-item:hover span.es-menu-title {
//   -moz-border-radius: 3px 3px 0 0;
//   -webkit-border-radius: 3px 3px 0 0;
//   border-radius: 3px 3px 0 0;
//   -moz-box-shadow: inset 0 1px 0 #b7b7b7;
//   -webkit-box-shadow: inset 0 1px 0 #b7b7b7;
//   box-shadow: inset 0 1px 0 #b7b7b7;
//   background: #ffffff;
//   border-left: 1px solid #b7b7b7;
//   border-right: 1px solid #b7b7b7;
//   height: 34px;
//   color: #000;
// }

// div.es-menu div.es-menu-item div.es-submenu-container {
//   width: 420px;
//   height: 230px;
//   -moz-border-radius: 0 0 3px 3px;
//   -webkit-border-radius: 0 0 3px 3px;
//   border-radius: 0 0 3px 3px;
//   -moz-background-clip: padding;
//   -webkit-background-clip: padding-box;
//   background-clip: padding-box;
//   border-bottom: 1px solid #b7b7b7;
//   border-left: 1px solid #b7b7b7;
//   border-right: 1px solid #b7b7b7;
//   background: #ffffff;
//   display: none;
//   z-index: 1000000;
//   position: absolute;
// }

// div.es-menu.es-menu-projekty div.es-menu-item div.es-submenu-container {
//   width: 210px;
//   height: 210px;
// }

// div.es-menu div.es-menu-item:hover div.es-submenu-container {
//   display: block;
// }

// div.es-menu div.es-menu-item div.es-submenu-container ol {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   width: 200px;
// }

// div.es-menu div.es-menu-item div.es-submenu-container ol.es-left {
//   float: left;
// }

// div.es-menu div.es-menu-item div.es-submenu-container ol.es-right {
//   float: left;
// }

// div.es-menu div.es-menu-item div.es-submenu-container ol li {
//   margin: 0;
//   padding: 0 0 0 30px;
//   height: 23px;
//   /*  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHAQMAAAAVq36TAAAABlBMVEUAAAC3t7eb908KAAAAAXRSTlMAQObYZgAAABJJREFUCB1jbmBmAEMJZgPmBAAIngE+QfNJOgAAAABJRU5ErkJggg==) 20px 16px no-repeat;*/
//   text-align: left;
// }

// div.es-menu div.es-menu-item div.es-submenu-container ol li a,
// div.es-menu div.es-menu-item div.es-submenu-container ol li a:visited,
// div.es-menu div.es-menu-item div.es-submenu-container ol li a:hover {
//   color: #000000;
//   font-size: 12px;
//   text-shadow: none;
//   text-transform: none;
//   font-weight: normal;
// }

// div.es-menu div.es-menu-item div.es-submenu-container ol li a:hover {
//   text-decoration: none;
// }

// span.es-social-title {
//   color: #868686;
//   font-size: 14px;
//   text-transform: uppercase;
//   font-weight: bold;
//   margin-right: 10px;
// }

// div.es-dark span.es-social-title {
//   text-shadow: 0 -1px 0 #000;
// }

// div.es-light span.es-social-title {
//   text-shadow: 0 -1px 0 #fff;
// }

// a.es-social img {
//   vertical-align: -10px;
//   margin-right: 5px;
//   display: inline;
// }

// a.es-social-2015 {
//   background-image: url("https://s3-eu-west-1.amazonaws.com/gambrinusliga/strip/img/socials-2015.png");
//   background-repeat: no-repeat;
//   display: block;
//   float: left;
//   color: #2e4272 !important;
//   text-shadow: none !important;
//   text-decoration: none;
//   text-transform: none;
//   font-size: 9px !important;
// }

// a.es-social-2015:hover {
//   text-decoration: underline !important;
// }

// a.es-social-2015.es-facebook {
//   background-position: 0 8px;
//   padding-left: 30px;
// }

// a.es-social-2015.es-twitter {
//   background-position: 0 -64px;
//   padding-left: 33px;
//   margin-left: 15px;
// }

// a.es-social-2015.es-youtube {
//   background-position: 0 -138px;
//   margin-left: 15px;
//   padding-left: 39px;
// }

// div.es-dark a.es-social-2015 {
//   color: #ccc !important;
// }

// a.es-social-2015.es-instagram {
//   background: none;
// }

// a.es-social-2015.es-instagram img {
//   float: left;
//   height: 27px;
//   margin-top: 6px;
//   margin-left: 15px;
// }

// div.es-loga {
//   background-position: top left;
//   background-repeat: no-repeat;
//   width: 431px;
//   height: 26px;
//   margin: 8px 0 0 0;
// }

// div.es-loga.es-loga-gl {
//   background-image: url("https://s3-eu-west-1.amazonaws.com/gambrinusliga/strip/img/loga_fl_2018.png");
// }

// div.es-loga ol {
//   margin: 0;
//   padding: 0;
// }

// div.es-loga ol li {
//   display: block;
//   float: left;
//   list-style: none;
//   width: 26px;
//   height: 27px;
//   margin: 0 0px 0 0;
//   padding: 0;
// }

// div.es-loga ol li a {
//   display: block;
//   width: 100%;
//   height: 100%;
// }

// div.es-loga ol li a span {
//   display: none;
// }

// div.es-loga-gl ol li.es-logo-01 {
//   width: 26px;
// }

// div.es-loga-gl ol li.es-logo-02 {
//   width: 26px;
// }

// div.es-loga-gl ol li.es-logo-03 {
//   width: 30px;
// }

// div.es-loga-gl ol li.es-logo-04 {
//   width: 27px;
// }

// div.es-loga-gl ol li.es-logo-05 {
//   width: 29px;
// }

// div.es-loga-gl ol li.es-logo-06 {
//   width: 28px;
// }

// div.es-loga-gl ol li.es-logo-07 {
//   width: 24px;
// }

// div.es-loga-gl ol li.es-logo-08 {
//   width: 29px;
// }

// div.es-loga-gl ol li.es-logo-09 {
//   width: 27px;
// }

// div.es-loga-gl ol li.es-logo-10 {
//   width: 31px;
// }

// div.es-loga-gl ol li.es-logo-11 {
//   width: 20px;
// }

// div.es-loga-gl ol li.es-logo-12 {
//   width: 23px;
// }

// div.es-loga-gl ol li.es-logo-13 {
//   width: 30px;
// }

// div.es-loga-gl ol li.es-logo-14 {
//   width: 21px;
// }

// div.es-loga-gl ol li.es-logo-15 {
//   width: 29px;
// }

// div.es-loga-gl ol li.es-logo-16 {
//   width: 30px;
// }

// div.es-loga.es-loga-fn {
//   background-image: url("https://s3-eu-west-1.amazonaws.com/gambrinusliga/strip/img/loga-fnl-2023.png");
//   width: 400px;
// }

// div.es-loga.es-loga-fn ol li {
//   margin: 0 0px 0 0;
//   padding: 0;
//   width: 24px;
// }

// div.es-loga-fn ol li.es-logo-01 {
//   width: 26px;
// }

// div.es-loga-fn ol li.es-logo-02 {
//   width: 24px;
// }

// div.es-loga-fn ol li.es-logo-03 {
//   width: 26px;
// }

// div.es-loga-fn ol li.es-logo-04 {
//   width: 27px;
// }

// div.es-loga-fn ol li.es-logo-05 {
//   width: 21px;
// }

// div.es-loga-fn ol li.es-logo-06 {
//   width: 22px;
// }

// div.es-loga-fn ol li.es-logo-07 {
//   width: 26px;
// }

// div.es-loga-fn ol li.es-logo-08 {
//   width: 24px;
// }

// div.es-loga-fn ol li.es-logo-09 {
//   width: 24px;
// }

// div.es-loga-fn ol li.es-logo-10 {
//   width: 29px;
// }

// div.es-loga-fn ol li.es-logo-11 {
//   width: 25px;
// }

// div.es-loga-fn ol li.es-logo-12 {
//   width: 25px;
// }

// div.es-loga-fn ol li.es-logo-13 {
//   width: 28px;
// }

// div.es-loga-fn ol li.es-logo-14 {
//   width: 28px;
// }

// div.es-loga-fn ol li.es-logo-15 {
//   width: 25px;
// }

// div.es-loga-fn ol li.es-logo-16 {
//   width: 20px;
// }

// span.es-app-title {
//   color: #868686;
//   font-size: 14px;
//   text-transform: uppercase;
//   font-weight: bold;
//   margin-right: 10px;
// }

// div.es-green span.es-app-title {
//   color: #e1e1e1;
//   text-shadow: 0 -1px 0 #0c5425;
// }

// div.es-dark span.es-app-title {
//   text-shadow: 0 -1px 0 #000;
// }

// div.es-light span.es-app-title {
//   text-shadow: 0 -1px 0 #fff;
// }

// a.es-app img {
//   vertical-align: -10px;
//   margin-right: 5px;
// }

// a.es-stats img {
//   margin-top: 7px;
// }

// a.es-chance {
//   background-repeat: no-repeat;
//   display: block;
//   float: left;
//   color: #2e4272 !important;
//   text-shadow: none !important;
//   text-decoration: none;
//   text-transform: none;
//   font-size: 9px !important;
// }

// a.es-chance span {
//   float: left;
//   display: block;
// }

// a.es-chance img {
//   margin-left: 10px;
//   margin-top: 8px;
//   float: right;
// }

// div.es-dark a.es-chance,
// div.es-dark div.es-chance-bet a {
//   color: #ccc !important;
// }

// div.es-chance-bet {
//   font-size: 11px;
//   text-align: center;
//   line-height: 16px;
//   margin-top: 5px;
//   display: inline-block;
// }

// div.es-chance-bet a {
//   font-size: 11px;
//   color: #000;
//   text-decoration: none;
//   text-shadow: none;
// }

// div.es-chance-bet a span {
//   display: inline;
// }

// div#es-strip-26 div#es-chance-container {
//   display: none;
// }

// div#es-strip-26 div.es-menu-inner {
//   width: 1180px;
// }

// div#es-strip-17 div#es-chance-container,
// div#es-strip-17 a#es-logo-lfa,
// div#es-strip-17 div#es-divider-101 {
//   display: none;
// }

// div#es-strip-17 div.es-menu-inner {
//   width: 83px;
// }

// @media (max-width: 1200px) {
//   div.es-menu-kluby {
//     display: none;
//   }
// }

// @media (max-width: 1070px) {
//   .es-logo-gl,
//   #es-divider-102 {
//     display: none;
//   }

//   div.es-dark.es-with-menu div.es-menu-inner,
//   div.es-light.es-with-menu div.es-menu-inner {
//     width: max-content;
//   }
// }

// @media (max-width: 799px) {
//   #es-chance-container {
//     display: none;
//   }
// }

// @media (max-width: 650px) {
//   .instagram,
//   .es-social-2015,
//   #es-divider-108 {
//     display: none !important;
//   }
// }

// @media (max-width: 420px) {
//   .es-chance {
//     display: none !important;
//   }
// }
