<section class="trainers-section pb-10 mb-md-10">
  <div class="container">
    <div class="header-section mb-8">
      <h1 class="h1">Trenéři mládeže</h1>
      <ul class="header-section__nav">
        <li>
          <a class="btn" href="#">Trenérum mládeže kluků</a>
        </li>
        <li>
          <a class="btn btn-gray" href="#">Trenéři mládeže dívek</a>
        </li>
      </ul>
    </div>
    <div class="trainers-section__inner">
      <div class="row g-10">
        <div class="col-xl-9">
          <div class="o-content px-md-2 px-1">
            <h3><a id="a1"></a>Vedení a zaštiťující osoby</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/bittengel_gunter.jpg"
                      />
                      <strong>Günter Bittengel</strong>
                      <br />
                      manažer úseku mládeže
                      <br />
                      M: 602 353 224
                      <a href="mailto:bittengel@fkdukla.cz"
                        >bittengel@fkdukla.cz</a
                      >
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/fisar_petr.jpg"
                      />
                      <strong>Petr Fišar</strong>
                      <br />
                      koordinátor mládeže
                      <br />
                      M: 737 941 803
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/havlasova_maruska.jpg"
                      />
                      <strong>Maruška Havlasová</strong>
                      <br />
                      koordinátorka akcí mládeže a kempů, nábory
                      <br />
                      M: 732 649 888
                      <a href="mailto:havlasova@fkdukla.cz"
                        >havlasova@fkdukla.cz</a
                      >
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                      src="https://fkdukla.esports.cz//foto//hraci/2021/mladez/hubacek_tomas.jpg"
                      "="">
                      <strong>Tomáš Hubáček</strong><br />
                      sekretář mládeže
                      <br />
                      M: 776 373 324
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="100" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/havlas_ondrej.jpg"
                      />
                      <strong>Ondřej Havlas</strong>
                      <br />
                      manažer ženského fotbalu
                      <br />
                      M: 720 393 935
                      <a href="mailto:havlas@fkdukla.cz">havlas@fkdukla.cz</a>
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/cecato_renato.jpg"
                      />
                      <strong>Renato Cecatto</strong>
                      <br />
                      skaut mládeže
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/slama_zdenek.jpg"
                      />
                      <strong>Zdeněk Sláma</strong>
                      <br />
                      skill trenér
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/barak_antonin.jpg"
                      />
                      <strong>Antonín Barák</strong>
                      <br />
                      metodika u kategorií U8 a U9
                      <br />
                      M: 606 147 014
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/vecera_tomas.jpg"
                      />
                      <strong>Tomáš Večeřa</strong>
                      <br />
                      koordinátor přípravkových kategorií - komunikace s rodiči
                      a kluby
                      <br />
                      metodika u kategorií U10 a U11
                      <br />
                      M: 777 087 911
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/splichal_matej.jpg"
                      />
                      <strong>Matěj Šplíchal</strong>
                      <br />
                      koordinátor přípravkových kategorií - utkání
                      <br />
                      metodika u kategorií U8-U11
                      <br />
                      M: 732 465 112
                      <a href="mailto:splichal@fkdukla.cz"
                        >splichal@fkdukla.cz</a
                      >
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="U19" style="padding-top: 0px"></p>
            <p id="U18" style="padding-top: 0px"></p>
            <h3><a id="a1"></a>Starší dorost U19 a U18</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/kulvajt_tomas.jpg"
                      />
                      <strong>Tomáš Kulvajt</strong>
                      <br />
                      trenér
                      <br />
                      M: 739 531 730
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong>Petrik Gedeon</strong>
                      <br />
                      trenér
                      <br />
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/lukas_adam.jpg"
                      />
                      <strong>Adam Lukáš</strong> <br />
                      trenér
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/snopek_frantisek.jpg"
                      />
                      <strong>František Snopek</strong><br />
                      trenér
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/janko_kristian.jpg"
                      />
                      <strong style="font-weight: bold">Kristan Janko</strong>
                      <br />
                      kondiční trenér
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                      src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/zitnan_rastislav.jpg"
                      "="">
                      <strong>Rastislav Žitňan</strong><br />
                      masér
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="U17" style="padding-top: 0px"></p>
            <h3>Mladší dorost U17</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/zipaj_jaroslav.jpg"
                      />
                      <strong>Jaroslav Žipaj</strong><br />
                      trenér
                      <br />
                      M: 774 111 179
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/kuchar_martin.jpg"
                      />
                      <strong>Martin Kuchař</strong><br />
                      trenér
                      <br />
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/prokop_jan.jpg"
                      />
                      <strong>Jan Prokop</strong> <br />
                      trenér
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="U16" style="padding-top: 0px"></p>
            <h3>Mladší dorost U16</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/papez_pavel.jpg"
                      />
                      <strong>Pavel Papež</strong><br />
                      trenér
                      <br />
                      M: 606 904 330
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/sedlacek_pavel.jpg"
                      />
                      <strong>Pavel Sedláček</strong><br />
                      trenér
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/koller_libor.jpg"
                      />
                      <strong>Libor Koller</strong> <br />
                      trenér
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/bezdicek_ondrej.jpg"
                      />
                      <strong>Ondřej Bezdíček</strong> <br />
                      trenér
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="U14" style="padding-top: 0px"></p>
            <h3>Starší žáci U15</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/zeidler_patrik.jpg"
                        width="150"
                      /><br />
                      <strong style="background-color: initial"
                        >Patrik Zeidler<br /> </strong
                      >trenér<br />
                      M: 721 446 560
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/babaca_martin.jpg"
                      />
                      <strong>Martin Babača<br /> </strong>
                      trenér<br />
                      M: 723 028 147
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong>Matěj Dobiáš</strong>
                      <br />
                      trenér
                      <br />
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="U13" style="padding-top: 0px"></p>
            <h3>Starší žáci U14</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/konder_tomas.jpg"
                      />
                      <strong style="background-color: initial"
                        >Tomáš Konder<br /> </strong
                      >trenér<br />
                      M: 732 538 291
                      <br />
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/janousek_adam.jpg"
                      />
                      <strong style="background-color: initial"
                        >Adam Janoušek<br /> </strong
                      >trenér<br />
                      M: 736 615 360
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/mares_michael.jpg"
                      />
                      <strong>Michael Mareš<br /> </strong>
                      trenér
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="U12" style="padding-top: 0px"></p>
            <h3>Mladší žáci U13</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/sainer_jakub.jpg"
                      />
                      <strong style="background-color: initial"
                        >Jakub Sainer<br /> </strong
                      >trenér<br />
                      M: 737 761 136
                      <br />
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/jalaghonia_vasil.jpg"
                      />
                      <strong style="background-color: initial"
                        >Vasil Jalaghonia<br /> </strong
                      >trenér<br />
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/janousek_tomas.jpg"
                      />
                      <strong style="background-color: initial"
                        >Tomáš Janoušek<br /> </strong
                      >trenér<br />
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/ondrejcek_simon.jpg"
                      />
                      <strong style="background-color: initial"
                        >Šimon Ondřejček<br /> </strong
                      >trenér<br />
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="U11" style="padding-top: 0px"></p>
            <h3>Mladší žáci U12</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/martinec_oleg.jpg"
                      />
                      <strong style="background-color: initial"
                        >Oleg Martinec</strong
                      ><br />
                      trenér
                      <br />
                      M: 777 227 011
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/bartos_mikolas.jpg"
                      />
                      <strong style="background-color: initial"
                        >Mikoláš Bartoš<br /> </strong
                      >trenér
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/klajl_petr.jpg"
                      />
                      <strong style="background-color: initial"
                        >Petr Klajl<br /> </strong
                      >trenér
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>Starší přípravka U11</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/splichal_matej.jpg"
                      />
                      <strong style="background-color: initial"
                        >Matěj Šplíchal<br /> </strong
                      >trenér<br />
                      M: 732 465 112
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/votava_jan.jpg"
                      />
                      <strong style="background-color: initial"
                        >Jan Votava<br /> </strong
                      >trenér
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/goll_jan.jpg"
                      />
                      <strong>Jan Goll</strong
                      ><strong style="background-color: initial"><br /> </strong
                      >trenér
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="U9" style="padding-top: 0px"></p>
            <h3>Starší přípravka U10</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/krpata_zdenek.jpg"
                      />
                      <strong style="background-color: initial"
                        >Zdeněk Krpata<br /> </strong
                      >trenér<br />
                      M: 702 178 252
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/perinka_petr.jpg"
                      />
                      <strong style="background-color: initial"
                        >Petr Peřinka<br /> </strong
                      >trenér<br />
                      M: 725 582 900
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/drozd_matej.jpg"
                      />
                      <strong style="background-color: initial"
                        >Matěj Drozd<br /> </strong
                      >trenér<br />
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>Mladší přípravka U9</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/dobrovolny_jan.jpg"
                      />
                      <strong>Jan Dobrovolný</strong><br />
                      trenér
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/novak_filip.jpg"
                      />
                      <strong style="background-color: initial"
                        >Filip Novák<br /> </strong
                      >trenér
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/cibulka_michal.jpg"
                      />
                      <strong style="background-color: initial"
                        >Michal Cibulka<br /> </strong
                      >trenér
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/holous_dominik.jpg"
                      />
                      <strong style="background-color: initial"
                        >Dominik Holouš<br /> </strong
                      >trenér
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/svoboda_richard.jpg"
                      />
                      <strong style="background-color: initial"
                        >Richard Svoboda<br /> </strong
                      >kondiční trenér
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>Mladší přípravka U8</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/barak_antonin.jpg"
                      />
                      <strong>Antonín Barák</strong>
                      <br />
                      trenér
                      <br />
                      M: 606 147 014
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong>Roman Humeni</strong>
                      <br />
                      trenér
                      <br />
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong>Petr Helík</strong>
                      <br />
                      trenér
                      <br />
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/svoboda_richard.jpg"
                      />
                      <strong style="background-color: initial"
                        >Richard Svoboda<br /> </strong
                      >kondiční trenér
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>Předpřípravka U7</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong>Daniela Nováková</strong>
                      <br />
                      trenérka
                      <br />
                      M: 608 021 829
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/divisova_katerina.jpg"
                      />
                      <strong style="background-color: initial"
                        >Kateřina Divišová<br /> </strong
                      >trenérka
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/janac_jiri.jpg"
                      />
                      <strong style="background-color: initial"
                        >Jíra Janáč<br /> </strong
                      >trenér<br />
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/koci_vaclav.jpg"
                      />
                      <strong style="background-color: initial"
                        >Václav Kočí<br /> </strong
                      >trenér
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="U6" style="padding-top: 50px"></p>
            <h3 id="U6">
              Školička U6 <br />
              (Žluťásci) + U5 (Medvíďata)
            </h3>
            <table>
              <tbody>
                <tr>
                  <td valign="top" width="150">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/kowolowski_jakub.jpg"
                      />
                      <strong style="background-color: initial"
                        >Jakub Kowolowski<br /> </strong
                      >koordinátor Školičky<br />
                      M: 605 356 430
                    </p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/divisova_katerina.jpg"
                      />
                      <strong style="background-color: initial"
                        >Kateřina Divišová<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/mollova_nikol_t.jpg"
                      />
                      <strong style="background-color: initial"
                        >Nikol Mollova<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong style="background-color: initial"
                        >Nicole Holečková<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                </tr>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/solar_jiri.jpg"
                      />
                      <strong style="background-color: initial"
                        >Jiří Solař<br /> </strong
                      >trenér
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/mocova_zuzana_t.jpg"
                      />
                      <strong style="background-color: initial"
                        >Zuzana Mocová<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                </tr>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/kosatkova_eliska.jpg"
                      />
                      <strong style="background-color: initial"
                        >Eliška Košatková<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/filipova_linda_t.jpg"
                      />
                      <strong style="background-color: initial"
                        >Linda Filipová<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/hostova_ruzena.jpg"
                      />
                      <strong style="background-color: initial"
                        >Růžena Hoštová<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                </tr>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/lauko_tomas_ml.jpg"
                      />
                      <strong style="background-color: initial"
                        >Tomáš Lauko ml.<br /> </strong
                      >trenér
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/minarikova_isabela_t.jpg"
                      />
                      <strong style="background-color: initial"
                        >Isabela Minaříková<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/klominkova_elen_t.jpg"
                      />
                      <strong style="background-color: initial"
                        >Elen Klomínková<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/liskova_tereza_t.jpg"
                      />
                      <strong style="background-color: initial"
                        >Tereza Lišková<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                </tr>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/jindrakova_rozalie_t.jpg"
                      />
                      <strong style="background-color: initial"
                        >Rozálie Jindráková<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong style="background-color: initial"
                        >Tereza Ryndzak<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong style="background-color: initial"
                        >Valerie Kubíková<br /> </strong
                      >trenérka
                    </p>
                    <p style="text-align: center"></p>
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>Brankařská škola</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" valign="top">
                    <p style="text-align: center">
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/solar_jiri.jpg"
                      />
                      <strong style="background-color: initial"
                        >Jiří Solař<br /> </strong
                      >trenér
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>Ženy A+B</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong>Jan Skoupil<br /> </strong>trenér<br />
                      tel:
                      <br />
                      skoupil@fkdukla.cz
                    </p>
                  </td>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/cech_vladimir.jpg"
                      /><br />
                      <strong>Čech Vladimír </strong><br />
                      trenér<br />
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="Z18" style="padding-top: 0px"></p>
            <h3>WU18 Dorostenky</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" align="center" valign="top"></td>
                </tr>
                <tr>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong>Michal Kolomazník<br /> </strong>trenér<br />
                      tel.: 602 150 276
                      <br />
                      kolomaznik@fkdukla.cz
                    </p>
                  </td>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/havlasova_maruska.jpg"
                      />
                      <strong>Maruška Havlasová<br /> </strong>trenérka<br />
                      tel.: 732 649 888
                      <br />
                      havlasova@fkdukla.cz
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="Z15" style="padding-top: 0px"></p>
            <h3>WU15 Starší žákyně</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img
                        src="https://fkdukla.esports.cz//foto/hraci/2223/mladez/havlas_ondrej.jpg"
                      />
                      <strong>Ondřej Havlas<br /> </strong>trenér<br />
                      tel.: 720 393 935
                      <br />
                      havlas@fkdukla.cz
                    </p>
                  </td>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/lauko_tomas.jpg"
                      />
                      <strong>Tomáš Lauko st.<br /> </strong>trenér
                      <br />
                    </p>
                  </td>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong>Eliška Majerová</strong>
                      <br />
                      <strong> </strong>trenérka<br />
                      <br />
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p id="Z13" style="padding-top: 0px"></p>
            <h3>WU13 Mladší žákyně</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong>Tereza Žáková</strong>
                      <br />
                      <strong> </strong>trenérka<br />
                      tel.: 773 185 526
                      <br />
                    </p>
                  </td>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img src="/img/default_hrac.jpg" width="150" /><br />
                      <strong>Adéla Bačkovská</strong>
                      <br />
                      <strong> </strong>trenérka<br />
                      <br />
                    </p>
                  </td>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/blecha_stepan.jpg"
                      />
                      <strong>Štěpán Blecha</strong>
                      <br />
                      trenér
                      <br />
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>WU10 Starší přípravka</h3>
            <table>
              <tbody>
                <tr>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/zima_jan.jpg"
                      />
                      <strong>Jan Zima</strong>
                      <br />
                      trenér
                      <br />
                      tel.: 736 436 014
                      <br />
                      zima@fkduklazeny.cz
                    </p>
                  </td>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/elger_martin.jpg"
                      />
                      <strong>Martin Elger</strong>
                      <br />
                      <strong> </strong>trenér<br />
                      <br />
                    </p>
                  </td>
                  <td width="150" align="center" valign="top">
                    <p>
                      <img
                        src="https://fkdukla.esports.cz//foto//hraci/2223/mladez/sobotkova_jana.jpg"
                      />
                      <strong>Jana Sobotková</strong>
                      <br />
                      <strong> </strong>vedoucí přípravek<br />
                      tel.: 720 704 533
                      <br />
                      sobotkova@fkduklazeny.cz
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-xl-3 d-none d-xl-block">
          {% include "@components/aside/aside.twig" %}
        </div>
      </div>
    </div>
  </div>
</section>
 