.calendar {
  margin-bottom: 80px;
  &__inner {
    max-width: 1300px;
    margin: 0 auto;
  }
}

#header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 48px;
}
#monthDisplay {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0 40px;
}
#header button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: var(--transition);
  display: block;

  svg {
    object-fit: cover;
    width: 17px;
    height: 14px;
  }
  &:hover {
    transform: scale(1.1);
  }
}

#weekdays {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
}
#weekdays div {
  max-width: 14.28%;
  flex: 0 0 14.28%;
  padding: 0 10px;
  text-align: center;
  color: var(--color-red);
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(228, 228, 228, 1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0),
    0px 10px 24px rgba(0, 0, 0, 0.052092);
}
.day {
  max-width: 14.28%;
  flex: 0 0 14.28%;
  padding: 12px 12px 12px 20px;
  height: 104px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  color: rgba(221, 224, 230, 1);
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 60px;
  text-transform: uppercase;
  transition: var(--transition);
  @include media-breakpoint-down(lg) {
    font-size: 24px;
    line-height: normal;
    height: 80px;
  }
}
.day:hover {
  color: var(--color-red);
}

.day + #currentDay {
  background-color: var(--color-yellow);
  color: var(--color-red);
}
.event {
  font-size: 10px;
  padding: 3px;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
}
#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton,
#deleteButton {
  background-color: #d36c6c;
}
#saveButton,
#closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
