<section class="registration-section pb-10 mb-md-10">
  <div class="container">
    <div class="header-section mb-10 px-md-2 px-1">
      <h1 class="h1">Diskuzní fórum</h1>
      <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
        data-whatever=""
        data-id="999"
      >
        Přidat příspěvek
      </button>
    </div>
    <div
      class="modal modalForum fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModal"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel">Vložení příspěvku</h2>
          </div>
          <div class="modal-body">
            <div class="c-forum__modal">
              <p class="c-forum__reaction"></p>

              <div id="smiles">
                <a onclick="insertSmile(':))');"
                  ><img
                    src="images/content/forum/06.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile(':)');"
                  ><img
                    src="images/content/forum/09.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile(';)');"
                  ><img
                    src="images/content/forum/02.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile(':)-');"
                  ><img
                    src="images/content/forum/08.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile('8)');"
                  ><img
                    src="images/content/forum/03.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile(':||');"
                  ><img
                    src="images/content/forum/07.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile(':|');"
                  ><img
                    src="images/content/forum/10.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile(':(');"
                  ><img
                    src="images/content/forum/05.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile(':o');"
                  ><img
                    src="images/content/forum/01.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile(';(');"
                  ><img
                    src="images/content/forum/04.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile('*1*')"
                  ><img
                    src="images/content/forum/11.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile('*2*')"
                  ><img
                    src="images/content/forum/12.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile('*3*')"
                  ><img
                    src="images/content/forum/13.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile('*4*')"
                  ><img
                    src="images/content/forum/14.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile('*5*')"
                  ><img
                    src="images/content/forum/15.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile('*6*')"
                  ><img
                    src="images/content/forum/16.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile('*7*')"
                  ><img
                    src="images/content/forum/17.png"
                    alt="Klikněte pro vložení."
                /></a>
                <a onclick="insertSmile('*8*')"
                  ><img
                    src="images/content/forum/18.png"
                    alt="Klikněte pro vložení."
                /></a>
              </div>
              <div class="c-forum__box">
                <form method="post" action="/">
                  <textarea name="" id="" cols="30" rows="10"></textarea>
                  <div class="row">
                    <div class="col-lg-6">
                      <label for="">
                        Jméno
                        <input type="text" name="name" />
                      </label>
                    </div>
                    <div class="col-lg-6">
                      <label for="">
                        Heslo
                        <input type="password" name="" id="" />
                      </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="tag tag-gray" data-bs-dismiss="modal">
              zavřít
            </button>
            <button type="button" class="tag tag-red">Odeslat</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-10">
      <div class="col-xl-9">
        <div class="c-forum-section__inner">
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="First Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="images/content/user-2.jpeg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="2 Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="3 Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="4 Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="First Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="First Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="First Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="First Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="First Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="First Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="First Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
          <div class="c-forum__row">
            <div class="c-forum__row-left__col">
              <img
                class="mx-auto mb-2"
                src="https://vesna.esports.cz/weby_data/forumy_all/user_smiles/photos/51818.jpg"
                alt=""
              />
              <button
                type="button"
                class="tag tag-red"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                data-id=""
                data-whatever="First Name"
              >
                Reagovat
              </button>
            </div>
            <div class="c-forum__row-right__col">
              <div class="c-forum__row-header">
                <div>
                  <a href="#" class="text-red"><b>Dlouhe jmeno</b></a>
                  | <span>pohledy bez růžových brýlí</span>
                </div>
                <p>
                  <a href="#" class="text-red"><strong>15.4.2023</strong></a
                  >, 15:26
                </p>
              </div>
              <p>Reakce na daqvid77: za mě nakonec Finalová dvojce pěkná ...</p>
              <hr />
              <p>
                to už by v Praze neunesli, že by v Čechách nebyl sto let titul.
                nedopadly PC bude to muset " zachráni" HK. Budeli to jinak
                sundám klobouk
              </p>
            </div>
          </div>
        </div>

        <nav aria-label="Další stránky">
          <ul
            class="pagination d-flex flex-wrap pagination-flat pagination-success"
          >
            <li class="page-item active">
              <a class="page-link" href="#" data-abc="true">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true"> »</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xl-3 d-none d-xl-block">
        {% include "@components/aside/aside.twig" %}
      </div>
    </div>
  </div>
</section>
