<section class="partners-section pb-10 mb-md-10">
  <div class="container">
    <div class="header-section mb-10">
      <h1 class="h1">Partneři</h1>
    </div>

    <div class="row g-md-10">
      <div class="col-xl-9">
        <h2 class="h2 mb-5">Generální partner</h2>
        <div class="row mb-4 justify-content-center align-items-center">
          <div class="col-12 col-sm-6 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/520x260"
                class="w-100"
                alt=""
              />
            </a>
          </div>
        </div>

        <h2 class="h2 mb-5">Hlavní partner</h2>
        <div class="row mb-4 justify-content-center align-items-center">
          <div class="col-6 col-md-4 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/320x210"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-md-4 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/320x210"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-md-4 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/320x210"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-md-4 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/320x210"
                class="w-100"
                alt=""
              />
            </a>
          </div>
        </div>

        <h2 class="h2 mb-5">Mediální partner</h2>
        <div class="row mb-4 justify-content-center align-items-center">
          <div class="col-6 col-md-4 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/320x210"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-md-4 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/320x210"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-md-4 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/320x210"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-md-4 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/320x210"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-md-4 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/320x210"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-md-4 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/320x210"
                class="w-100"
                alt=""
              />
            </a>
          </div>
        </div>
        <h2 class="h2 mb-5">Partneři</h2>
        <div class="row mb-4">
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-3 mb-4">
            <a
              class="d-flex h-100 align-items-center justify-content-center p-1 p-md-2"
              href="#"
              target="_blank"
            >
              <img
                src="https://via.placeholder.com/184x120"
                class="w-100"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 d-none d-xl-block">
        {% include "@components/aside/aside.twig" %}
      </div>
    </div>
  </div>
</section>
