<section class="hp-statistics">
  <div class="container">
    <div class="hp-statistics__inner row">
      <div class="col-xl-5">
        <div class="top-score">
          <h3 class="h2">Statistiky</h3>
          <ul class="top-score__tabs">
            <li class="">
              <a class="tab active" data-id="goly" href="#"> Góly </a>
            </li>
            <li class="">
              <a class="tab" data-id="asist" href="#"> Asistence </a>
            </li>
            <li class="">
              <a class="tab" data-id="zapasy" href="#"> Zápasy </a>
            </li>
            <li class="">
              <a class="tab" data-id="kilometry" href="#"> Kilometry </a>
            </li>
            <li class="">
              <a class="tab" data-id="karty" href="#"> Žluté karty </a>
            </li>
          </ul>
          <div class="tab-wrapper">
            <div class="tab-wrap tab-active" id="goly">
              <ol class="top-score__list">
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/players.jpeg"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">10</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">8</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Tomáš</span> Vavroušek
                    </a>
                    <div class="top-score__number">6</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Quadri Adebayo </span>Adediran
                    </a>
                    <div class="top-score__number">5</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">4</div>
                  </div>
                </li>
              </ol>
            </div>
            <div class="tab-wrap" id="asist">
              <ol class="top-score__list">
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">13</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/players.jpeg"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">8</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Tomáš</span> Vavroušek
                    </a>
                    <div class="top-score__number">6</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Quadri Adebayo </span>Adediran
                    </a>
                    <div class="top-score__number">5</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">4</div>
                  </div>
                </li>
              </ol>
            </div>
            <div class="tab-wrap" id="zapasy">
              <ol class="top-score__list">
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/players.jpeg"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">10</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">8</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Tomáš</span> Vavroušek
                    </a>
                    <div class="top-score__number">6</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Quadri Adebayo </span>Adediran
                    </a>
                    <div class="top-score__number">5</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">4</div>
                  </div>
                </li>
              </ol>
            </div>
            <div class="tab-wrap" id="kilometry">
              <ol class="top-score__list">
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/players.jpeg"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">10</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">8</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Tomáš</span> Vavroušek
                    </a>
                    <div class="top-score__number">6</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Quadri Adebayo </span>Adediran
                    </a>
                    <div class="top-score__number">5</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">4</div>
                  </div>
                </li>
              </ol>
            </div>
            <div class="tab-wrap" id="karty">
              <ol class="top-score__list">
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/players.jpeg"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">10</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">8</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Tomáš</span> Vavroušek
                    </a>
                    <div class="top-score__number">6</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Quadri Adebayo </span>Adediran
                    </a>
                    <div class="top-score__number">5</div>
                  </div>
                </li>
                <li>
                  <div class="top-score__item">
                    <div class="top-score__img">
                      <img
                        src="images/content/player-section.png"
                        loading="lazy"
                        alt="player"
                      />
                    </div>
                    <a class="top-score__name" href="#">
                      <span>Ondřej</span>Ullaman
                    </a>
                    <div class="top-score__number">4</div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="top-player">
          <h3 class="h2">Hráči</h3>
          <div class="row">
            <div class="col-4">
              <div class="top-player__img">
                <img src="images/ico/player.svg" loading="lazy" alt="logo" />
              </div>
            </div>
            <div class="col-8">
              <div class="top-player__info">
                <div class="top-player__name">
                  Pavel
                  <span> Moulis </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
