<section class="photogallery-section">
  <div class="container">
    <div class="header-section mb-10">
      <h1 class="h1">Fotogalerie</h1>
      <div class="header-section__row">
        <form action="" class="header-section__form header-section__label">
          <div class="header-section__category">Vyhledávání</div>
          <div class="header-section__input">
            <input type="text" placeholder="Hledaný text" />
            <button class="header-section__btn">
              <img
                src="images/ico/search-menu.svg"
                loading="lazy"
                alt="search-menu"
              />
            </button>
          </div>
        </form>

        <label class="o-select header-section__label">
          <div class="header-section__category">Kategorie</div>
          <select class="js-select">
            <option>Kategorie</option>
            <option>Aktuální zprávy</option>
            <option>Rozhovory</option>
            <option>Reportáže</option>
            <option>Mládež</option>
            <option>Tiskové zprávy</option>
            <option>Soutěže a akce pro fanoušky</option>
            <option>Preview k zápasu</option>
            <option>Ohlasy po utkání</option>
            <option>Sledge – článek</option>
            <option>Sledge – reportáž</option>
            <option>Historie</option>
            <option>Fan Club</option>
          </select>
        </label>
        <label class="o-select header-section__label">
          <div class="header-section__category">Rok</div>
          <select class="js-select">
            <option>Rok</option>
            <option>2018/2019</option>
            <option>2019/2020</option>
            <option>2020/2021</option>
            <option>2021/2022</option>
            <option>2022/2023</option>
            <option>2023/2024</option>
          </select>
        </label>
        <label class="o-select header-section__label">
          <div class="header-section__category">Měsíc</div>
          <select class="js-select">
            <option>Měsíc</option>
            <option>leden</option>
            <option>únor</option>
            <option>březen</option>
            <option>duben</option>
            <option>květen</option>
            <option>červen</option>
            <option>červenec</option>
            <option>srpen</option>
            <option>září</option>
            <option>říjen</option>
            <option>listopad</option>
            <option>prosinec</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row photogallery-section__items">
      <div class="col-xl-9">
        <div class="row">
          <figure class="photogallery">
            <a
              class="photogallery__item row gx-5"
              data-gallery="1"
              data-gallery-id="1"
              href="#"
            >
              <div class="col-lg-5 col-xl-4">
                <div class="photogallery__img">
                  <img
                    src="images/content/2.jpeg"
                    loading="lazy"
                    alt="clanek-2"
                  />
                  <span class="tag tag-gold">A - Tým</span>
                </div>
              </div>
              <div class="col-lg-7 col-xl-8">
                <div class="photogallery__info">
                  <p>14. 10. 2023, Tomáš Pecina</p>
                  <h2 class="h2">Příprava Ženy B: Příprava na novou sezonu</h2>
                </div>
              </div>
            </a>
          </figure>
          <figure class="photogallery">
            <a
              class="photogallery__item row gx-5"
              data-gallery="1"
              data-gallery-id="1"
              href="#"
            >
              <div class="col-lg-5 col-xl-4">
                <div class="photogallery__img">
                  <img
                    src="images/content/2.jpeg"
                    loading="lazy"
                    alt="clanek-2"
                  />
                  <span class="tag tag-gold">A - Tým</span>
                </div>
              </div>
              <div class="col-lg-7 col-xl-8">
                <div class="photogallery__info">
                  <p>14. 10. 2023, Tomáš Pecina</p>
                  <h2 class="h2">Příprava Ženy B: Příprava na novou sezonu</h2>
                </div>
              </div>
            </a>
          </figure>
          <figure class="photogallery">
            <a
              class="photogallery__item row gx-5"
              data-gallery="1"
              data-gallery-id="1"
              href="#"
            >
              <div class="col-lg-5 col-xl-4">
                <div class="photogallery__img">
                  <img
                    src="images/content/2.jpeg"
                    loading="lazy"
                    alt="clanek-2"
                  />
                  <span class="tag tag-gold">A - Tým</span>
                </div>
              </div>
              <div class="col-lg-7 col-xl-8">
                <div class="photogallery__info">
                  <p>14. 10. 2023, Tomáš Pecina</p>
                  <h2 class="h2">Příprava Ženy B: Příprava na novou sezonu</h2>
                </div>
              </div>
            </a>
          </figure>
          <figure class="photogallery">
            <a
              class="photogallery__item row gx-5"
              data-gallery="1"
              data-gallery-id="1"
              href="#"
            >
              <div class="col-lg-5 col-xl-4">
                <div class="photogallery__img">
                  <img
                    src="images/content/2.jpeg"
                    loading="lazy"
                    alt="clanek-2"
                  />
                  <span class="tag tag-gold">A - Tým</span>
                </div>
              </div>
              <div class="col-lg-7 col-xl-8">
                <div class="photogallery__info">
                  <p>14. 10. 2023, Tomáš Pecina</p>
                  <h2 class="h2">
                    17. kolo Fortuna Liga: FK Dukla Praha vs SK Slavia Praha
                  </h2>
                </div>
              </div>
            </a>
          </figure>
          <figure class="photogallery">
            <a
              class="photogallery__item row gx-5"
              data-gallery="1"
              data-gallery-id="1"
              href="#"
            >
              <div class="col-lg-5 col-xl-4">
                <div class="photogallery__img">
                  <img
                    src="images/content/2.jpeg"
                    loading="lazy"
                    alt="clanek-2"
                  />
                  <span class="tag tag-gold">A - Tým</span>
                </div>
              </div>
              <div class="col-lg-7 col-xl-8">
                <div class="photogallery__info">
                  <p>14. 10. 2023, Tomáš Pecina</p>
                  <h2 class="h2">
                    A - Tým muži: Autogramiáda v obchodním centru Chodov
                  </h2>
                </div>
              </div>
            </a>
          </figure>
        </div>

        <nav aria-label="Další stránky">
          <ul
            class="pagination d-flex flex-wrap pagination-flat pagination-success"
          >
            <li class="page-item active">
              <a class="page-link" href="#" data-abc="true">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true"> »</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- <div class="col-xl-3 d-none d-xl-block">
        {% include "@components/aside/aside.twig" %}
      </div> -->
    </div>
  </div>
</section>
