.photogallery-section {
  margin-bottom: 40px;
  &__items {
    justify-content: center;
  }
}

.photogallery {
  margin-bottom: 32px;

  @include media-breakpoint-only(md) {
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 24px;
  }
  @include media-breakpoint-only(sm) {
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 24px;
  }
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    flex: 100%;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    flex-wrap: wrap;
    text-decoration: none;

    &:hover {
      .photogallery__img img {
        transform: scale(1.1);
      }
    }
  }
  &__img {
    position: relative;
    aspect-ratio: 340/200;
    border-radius: 4px;
    overflow: hidden;
    span {
      position: absolute;
      bottom: 20px;
      left: 20px;
      display: block;
      color: var(--color-dark);
    }
    img {
      transition: var(--transition);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    padding: 6px 0px 0 32px;
    max-width: 600px;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      padding: 16px 0;
    }
    p {
      color: rgba(131, 139, 155, 1);
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 18px;
      display: block;
      margin-bottom: 18px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 12px;
      }
    }
    .h2 {
      letter-spacing: 0.5px;
      @include media-breakpoint-down(lg) {
        font-size: 24px;
        line-height: normal;
      }
    }
  }
}
