<div class="article-match">
  <div class="row">
    <div class="col-xxl-9 col-xl-10 col-11 mx-auto">
      <div class="match mb-10">
        <div class="row match__row">
          <div class="col-lg-3">
            <div class="match__col">
              <p>Sobota 14. 10. 2023, 17:30</p>
              <h4>FK Dukla Praha</h4>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="match__box">
              <div class="match__logo">
                <img src="images/ico/logo.svg" alt="" />
              </div>
              <div class="match__result">
                <span class="win">2:1</span>
                <p>(1:0)</p>
              </div>
              <div class="match__logo">
                <img src="images/content/club-3.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="match__col">
              <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
              <h4>FK Dukla Praha</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row gy-5 mb-7 justify-content-between">
        <div class="col-xl-5 col-md-6">
          <p>
            <strong>Sestava:</strong> Fitzsimons - Olmos, Villar, Peters,
            Mouelhi (46. Bauti), Pons - Juanma, Pecci, Robba (32. Valarino) -
            Ferrer (63. Boro), Antwi (46. Aznar Fernandez)
          </p>
        </div>
        <div class="col-xl-5 col-md-6">
          <p class="text-md-end">
            <strong>Sestava:</strong> Fitzsimons - Olmos, Villar, Peters,
            Mouelhi (46. Bauti), Pons - Juanma, Pecci, Robba (32. Valarino) -
            Ferrer (63. Boro), Antwi (46. Aznar Fernandez)
          </p>
        </div>
      </div>
      <div class="article-match__bottom">
        <ul class="row">
          <li class="col-lg-4">
            <span>Branky:</span>
            21. a 32. Sor, 45. Ewerton, 56. Lingr
          </li>
          <li class="col-lg-4">
            <span> Žluté karty:</span>
            Antwi, Juanma, Pons, Bautista
          </li>
          <li class="col-lg-3">
            <span>Červené karty:</span>
            Pecci
          </li>
          <li class="col-lg-1">
            <span>Diváci:</span>
            9344
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
