<div class="article-photogallery">
  <div class="p1 mb-3">Fotogalerie</div>
  <div class="row g-5">
    <div class="col-md-3 col-6">
      <a
        class="article-photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="article-photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="article-photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="article-photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
        <span>+16</span>
      </a>
    </div>
  </div>
</div>
