<section class="matches-section">
  <div class="container">
    <div class="header-section">
      <h1 class="h1">Rozpis zápasů</h1>
      <ul class="header-section__nav">
        <li>
          <a class="btn" href="#">výsledky</a>
        </li>
        <li>
          <a class="btn btn-gray" href="#">následující</a>
        </li>
      </ul>
    </div>
    <div class="match">
      <div class="row match__row">
        <div class="match-hover">
          <ul class="match__links">
            <li>
              <a class="tag tag-gold" href="#">Preview</a>
            </li>
            <li>
              <a class="tag tag-gold" href="#">Vstupenky</a>
            </li>
            <li>
              <a class="tag tag-green" href="#">Onlajn</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>Sobota 14. 10. 2023, 17:30</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="match__box">
            <div class="match__logo">
              <img src="images/ico/club-2.svg" alt="" />
            </div>
            <div class="match__result">
              <span class="win">2 : 1</span>
              <p>(1:0)</p>
            </div>
            <div class="match__logo">
              <img src="images/content/club-3.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="match">
      <div class="row match__row">
        <div class="match-hover">
          <ul class="match__links">
            <li>
              <a class="tag tag-gold" href="#">Preview</a>
            </li>
            <li>
              <a class="tag tag-gold" href="#">Vstupenky</a>
            </li>
            <li>
              <a class="tag tag-green" href="#">Onlajn</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>Sobota 14. 10. 2023, 17:30</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="match__box">
            <div class="match__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <div class="match__result">
              <span class="lose">0 : 2</span>
              <p>(1:0)</p>
            </div>
            <div class="match__logo">
              <img src="images/content/club-4.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="match">
      <div class="row match__row">
        <div class="match-hover">
          <ul class="match__links">
            <li>
              <a class="tag tag-gold" href="#">Preview</a>
            </li>
            <li>
              <a class="tag tag-gold" href="#">Vstupenky</a>
            </li>
            <li>
              <a class="tag tag-green" href="#">Onlajn</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>Sobota 14. 10. 2023, 17:30</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="match__box">
            <div class="match__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <div class="match__result">
              <span class="win">4 : 0</span>
              <p>(1:0)</p>
            </div>
            <div class="match__logo">
              <img src="images/content/club-4.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="match">
      <div class="row match__row">
        <div class="match-hover">
          <ul class="match__links">
            <li>
              <a class="tag tag-gold" href="#">Preview</a>
            </li>
            <li>
              <a class="tag tag-gold" href="#">Vstupenky</a>
            </li>
            <li>
              <a class="tag tag-green" href="#">Onlajn</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>Sobota 14. 10. 2023, 17:30</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="match__box">
            <div class="match__logo">
              <img src="images/ico/club-2.svg" alt="" />
            </div>
            <div class="match__result">
              <span class="lose">0 : 1</span>
              <p>(1:0)</p>
            </div>
            <div class="match__logo">
              <img src="images/content/club-3.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="header-section">
      <h2 class="h1">Následující zápasy</h2>
      <ul class="header-section__nav">
        <li>
          <a class="btn" href="#">výsledky</a>
        </li>
        <li>
          <a class="btn btn-gray" href="#">následující</a>
        </li>
      </ul>
    </div>
    <div class="match">
      <div class="row match__row">
        <div class="match-hover">
          <ul class="match__links">
            <li>
              <a class="tag tag-gold" href="#">Preview</a>
            </li>
            <li>
              <a class="tag tag-gold" href="#">Vstupenky</a>
            </li>
            <li>
              <a class="tag tag-green" href="#">Onlajn</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>Sobota 14. 10. 2023, 17:30</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="match__box">
            <div class="match__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <div class="match__result">
              <span class=" ">-</span>
              <p>(1:0)</p>
            </div>
            <div class="match__logo">
              <img src="images/content/club-3.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="match">
      <div class="row match__row">
        <div class="match-hover">
          <ul class="match__links">
            <li>
              <a class="tag tag-gold" href="#">Preview</a>
            </li>
            <li>
              <a class="tag tag-gold" href="#">Vstupenky</a>
            </li>
            <li>
              <a class="tag tag-green" href="#">Onlajn</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>Sobota 14. 10. 2023, 17:30</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="match__box">
            <div class="match__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <div class="match__result">
              <span class=" ">-</span>
              <p>Dukla Arena</p>
            </div>
            <div class="match__logo">
              <img src="images/content/club-3.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="match">
      <div class="row">
        <div class="col-lg-3">
          <div class="match__col">
            <p>Sobota 14. 10. 2023, 17:30</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="match__box">
            <div class="match__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <div class="match__result">
              <span class="">-</span>
              <p>Sigma Arena</p>
            </div>
            <div class="match__logo">
              <img src="images/content/club-3.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="match">
      <div class="row match__row">
        <div class="match-hover">
          <ul class="match__links">
            <li>
              <a class="tag tag-gold" href="#">Preview</a>
            </li>
            <li>
              <a class="tag tag-gold" href="#">Vstupenky</a>
            </li>
            <li>
              <a class="tag tag-green" href="#">Onlajn</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>Sobota 14. 10. 2023, 17:30</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="match__box">
            <div class="match__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <div class="match__result">
              <span class=" ">-</span>
              <p>Eden Arena</p>
            </div>
            <div class="match__logo">
              <img src="images/content/club-3.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="match__col">
            <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
            <h4>FK Dukla Praha</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
