<section class="scoreboard">
  <div class="container">
    <div class="row gx-0">
      <div class="col-lg-4">
        <div class="scoreboard__item bg-yellow">
         <h3 class="h3 mb-8">
            ODEHRANÝ ZÁPAS
         </h3>
        </div>
      </div>
      <div class="col-lg-8">
     <div class="scoreboard__item bg-red">
      <h3 class="h3 mb-8">
         do výkopu zbývá
      </h3>
     </div>
      </div>
    </div>
  </div>
</section>
