<section class="shop-slider">
  <div class="container">
    <div class="shop-slider__inner">
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-1.jpeg"
              loading="lazy"
              alt="product"
            />
            <span class="tag tag-red">akce</span>
          </div>
          <p>Batoh Jersey s podsádkou</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-2.jpeg"
              loading="lazy"
              alt="product"
            />
          </div>
          <p>Tričko bílé - dámské</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-3.jpeg"
              loading="lazy"
              alt="product"
            />
            <span class="tag tag-top">top</span>
          </div>
          <p>Batoh Jersey s podsádkou</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-1.jpeg"
              loading="lazy"
              alt="product"
            />
            <span class="tag tag-red">akce</span>
          </div>
          <p>Dres FKD A-tým Adidas domácí</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-1.jpeg"
              loading="lazy"
              alt="product"
            />
            <span class="tag tag-blue">Doporučujeme</span>
          </div>
          <p>Malá sada sběratelských kartiček BRAVO DUKLA</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-1.jpeg"
              loading="lazy"
              alt="product"
            />
            <span class="tag tag-red">akce</span>
          </div>
          <p>Batoh Jersey s podsádkou</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-1.jpeg"
              loading="lazy"
              alt="product"
            />
            <span class="tag tag-red">akce</span>
          </div>
          <p>Batoh Jersey s podsádkou</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-2.jpeg"
              loading="lazy"
              alt="product"
            />
          </div>
          <p>Tričko bílé - dámské</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-3.jpeg"
              loading="lazy"
              alt="product"
            />
            <span class="tag tag-top">top</span>
          </div>
          <p>Batoh Jersey s podsádkou</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-1.jpeg"
              loading="lazy"
              alt="product"
            />
            <span class="tag tag-red">akce</span>
          </div>
          <p>Dres FKD A-tým Adidas domácí</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-1.jpeg"
              loading="lazy"
              alt="product"
            />
            <span class="tag tag-blue">Doporučujeme</span>
          </div>
          <p>Malá sada sběratelských kartiček BRAVO DUKLA</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
      <div class="shop-slider__col">
        <a href="#" class="shop-slider__item">
          <div class="shop-slider__img">
            <img
              src="images/content/shop-1.jpeg"
              loading="lazy"
              alt="product"
            />
            <span class="tag tag-red">akce</span>
          </div>
          <p>Batoh Jersey s podsádkou</p>
          <h5 class="h6">2 200 Kč</h5>
        </a>
      </div>
    </div>
  </div>
</section>
