:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-red: #671219;
  --color-yellow: #fcc824;
  --color-green: #289869;
  --color-blue: RGB(35, 50, 92);
  --color-lines: #e4e4e4;
  --transition: all 0.3s;
  --color-gray: RGB(221, 224, 230);
}
