<section class="team-statistics">
  <div class="container">
    <div class="header-section">
      <h1 class="h1">Týmové statistiky</h1>
    </div>
    <div class="team-statistics__inner">
      <div class="team-statistics__point">
        <span> 32 </span>
        Body v lize
      </div>

      <div class="team-statistics__point big">
        <span> 6 </span>
        Umístění v tabulce
      </div>

      <div class="team-statistics__point">
        <span> 8 </span>
        Rozdíl ve skóre
      </div>
    </div>
    <div class="team-statistics__wrapper">
      <h2 class="h2 text-center mb-6">Zápasová bilance</h2>
      <div class="list-container list-container__main mb-10">
        <div class="list-item">
          <ul class="dynamic-list green"></ul>
          <div class="list-info">
            <div class="list-count">14</div>
            <span>v</span>
          </div>
        </div>
        <div class="list-item">
          <ul class="dynamic-list red"></ul>
          <div class="list-info">
            <div class="list-count">4</div>
            <span>p</span>
          </div>
        </div>
        <div class="list-item">
          <ul class="dynamic-list orange"></ul>
          <div class="list-info">
            <div class="list-count">2</div>
            <span>r</span>
          </div>
        </div>
        <div class="list-item">
          <ul class="dynamic-list gray"></ul>
          <div class="list-info">
            <div class="list-count">10</div>
            <span>z</span>
          </div>
        </div>
      </div>
      <h2 class="h2 text-center mb-6">Domácí a venkovní bilance</h2>
      <div class="mb-10 list__inner">
        <div class="list__col">
          <h3 class="h3 mb-6 text-center">Doma</h3>
          <div class="list-container">
            <div class="list-item">
              <ul class="dynamic-list green"></ul>
              <div class="list-info">
                <div class="list-count">9</div>
                <span>v</span>
              </div>
            </div>
            <div class="list-item">
              <ul class="dynamic-list red"></ul>
              <div class="list-info">
                <div class="list-count">1</div>
                <span>p</span>
              </div>
            </div>
            <!-- <div class="list-item">
              <ul class="dynamic-list orange"></ul>
              <div class="list-info">
                <div class="list-count">2</div>
                <span>r</span>
              </div>
            </div> -->
            <div class="list-item">
              <ul class="dynamic-list gray"></ul>
              <div class="list-info">
                <div class="list-count">5</div>
                <span>z</span>
              </div>
            </div>
          </div>
        </div>
        <div class="list__col">
          <h3 class="h3 mb-6 text-center">Venku</h3>
          <div class="list-container">
            <div class="list-item">
              <ul class="dynamic-list green"></ul>
              <div class="list-info">
                <div class="list-count">9</div>
                <span>v</span>
              </div>
            </div>
            <div class="list-item">
              <ul class="dynamic-list red"></ul>
              <div class="list-info">
                <div class="list-count">3</div>
                <span>p</span>
              </div>
            </div>
            <div class="list-item">
              <ul class="dynamic-list orange"></ul>
              <div class="list-info">
                <div class="list-count">2</div>
                <span>r</span>
              </div>
            </div>
            <div class="list-item">
              <ul class="dynamic-list gray"></ul>
              <div class="list-info">
                <div class="list-count">5</div>
                <span>z</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
