{% extends "@components/base/base.twig" %} {% set title = "05.0_player" %} {%
block main %} {% include "@components/player-section/player-section.twig" %} {%
include "@components/player-detail/player-detail.twig" %}
<div class="player-story">
  <div class="container">
    <h2 class="h2 mb-8">
      Članky s
      <span class="text-red" style="font-weight: 400">Jan Čtvrtečka</span>
    </h2>
    <div class="row g-5">
      <div class="col-xl-4 col-md-6 col-12">
        <div  class="post">
            <a href="#" class="post__img">
              <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
            </a>
            
            <div class="post__info">
              <ul class="tags">
                <li>
                  <a href="#" class="tag tag-gold">preview</a>
                </li>
                <li>
                  <a href="#" class="tag-white tag">dnes</a>
                </li>
              </ul>
              <a href="#" class="h3">
                Dukla skolila Třinec dvěma slepenými góly ve druhé půli
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        <div  class="post">
            <a href="#" class="post__img">
              <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
            </a>
            
            <div class="post__info">
              <ul class="tags">
                <li>
                  <a href="#" class="tag tag-gold">preview</a>
                </li>
                <li>
                  <a href="#" class="tag-white tag">dnes</a>
                </li>
              </ul>
              <a href="#" class="h3">
                Dukla skolila Třinec dvěma slepenými góly ve druhé půli
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        <div  class="post">
            <a href="#" class="post__img">
              <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
            </a>
            
            <div class="post__info">
              <ul class="tags">
                <li>
                  <a href="#" class="tag tag-gold">preview</a>
                </li>
                <li>
                  <a href="#" class="tag-white tag">dnes</a>
                </li>
              </ul>
              <a href="#" class="h3">
                Dukla skolila Třinec dvěma slepenými góly ve druhé půli
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        <div  class="post">
            <a href="#" class="post__img">
              <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
            </a>
            
            <div class="post__info">
              <ul class="tags">
                <li>
                  <a href="#" class="tag tag-gold">preview</a>
                </li>
                <li>
                  <a href="#" class="tag-white tag">dnes</a>
                </li>
              </ul>
              <a href="#" class="h3">
                Dukla skolila Třinec dvěma slepenými góly ve druhé půli
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        <div  class="post">
            <a href="#" class="post__img">
              <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
            </a>
            
            <div class="post__info">
              <ul class="tags">
                <li>
                  <a href="#" class="tag tag-gold">preview</a>
                </li>
                <li>
                  <a href="#" class="tag-white tag">dnes</a>
                </li>
              </ul>
              <a href="#" class="h3">
                Dukla skolila Třinec dvěma slepenými góly ve druhé půli
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        <div  class="post">
            <a href="#" class="post__img">
              <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
            </a>
            
            <div class="post__info">
              <ul class="tags">
                <li>
                  <a href="#" class="tag tag-gold">preview</a>
                </li>
                <li>
                  <a href="#" class="tag-white tag">dnes</a>
                </li>
              </ul>
              <a href="#" class="h3">
                Dukla skolila Třinec dvěma slepenými góly ve druhé půli
              </a>
            </div>
          </div>
        </a>
      </div>
 
      
    </div>
  </div>
  
</div>

{% include "@components/shop-slider/shop-slider.twig" %} {% endblock %}
