{% extends "@components/base/base.twig" %} {% set title = "22.0_questionnaire"
%} {% block main %}
<section class="static-section pb-10 mb-md-10">
  <div class="container">
    <div class="header-section mb-10 px-md-2 px-1">
      <h1 class="h1">Velmi osobní dotazníky</h1>
    </div>

    <div class="row g-10">
      <div class="col-xl-9">
        <div class="o-content px-md-2 px-1">
          <p>
            <img
              src="https://fkdukla.esports.cz//files/editor/dotazniky_uvod.png"
              width="464"
              height="755"
              alt=""
              style="width: 464px; height: 755px; display: block; margin: auto"
            />
          </p>
          <div class="row g-4">
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Ales_MAJER.jpg"
                />
                <a href="https://fkdukla.cz/majer">Aleš Maje</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Antonin_BARAK.jpg"
                />
                <a href="https://fkdukla.cz/barak">Antonín Barák</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Gunter_BITTENGEL.jpg"
                />
                <a href="https://fkdukla.cz/bittengel">Günter Bittengel</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Jaroslav_ZIPAJ4.jpg"
                />
                <a href="https://fkdukla.cz/zipaj">Jaroslav Žipaj</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Martin_BABACA.jpg"
                />
                <a href="https://fkdukla.cz/babaca">Marek Babača</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Pavel_SEDLACEK.jpg"
                />
                <a href="https://fkdukla.cz/sedlacek">Pavel Sedláček</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Tomas_Kulvajt3.jpg"
                />
                <a href="https://fkdukla.cz/kulvajt">Tomáš Kulvajt</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Petr_POPOVIC.jpg"
                />
                <a href="https://fkdukla.cz/popovic">Petr Popovič</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Maruska_HAVLASOVA.jpg"
                />
                <a href="https://fkdukla.cz/havlasova">Maruška Havlasová</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Pavel_PAPEZ6.jpg"
                />
                <a href="https://fkdukla.cz/papez">Pavel Papež</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Petr_FISAR3.jpg"
                />
                <a href="https://fkdukla.cz/fisar">Petr Fišar</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/Matej_SPLICHAL2.jpg"
                />
                <a href="https://fkdukla.cz/splichal">Matěj Šplíchal</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/dobrovolny_jan.jpg"
                />
                <a href="https://fkdukla.cz/dobrovolny">Jan Dobrovolný</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/havlas_ondrej.jpg"
                />
                <a href="https://fkdukla.cz/havlas">Ondřej Havlas</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/vecera_tomas.jpg"
                />
                <a href="https://www.fkdukla.cz/vecera">Tomáš Večeřa</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="questionnaire__item">
                <img
                  src="https://fkdukla.esports.cz//files/editor/sainer_jakub.jpg"
                />
                <a href="/jakub-sainer">Jakub Sainer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 d-none d-xl-block">
        <aside class="aside">
          <h2 class="h2 mt-1 mb-l7-8 mb-5">Kategorie</h2>
          <ul class="aside__menu">
            <li>
              <a href="/roster/MUZ">A - tým</a>
            </li>
            <li>
              <a href="/roster/MUB">B - tým</a>
            </li>
            <li>
              <a href="/youth">Mládež</a>
            </li>
            <li>
              <a href="/roster/ZEN">Ženy</a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</section>

{% endblock %}
