<section class="juniors-section">
  <div class="container">
    <div class="header-section mb-10">
      <h1 class="h1">Rozcestník mládeže</h1>
    </div>
    <div class="row g-10">
      <div class="col-xl-9">
        <div class="juniors-section__wrapper">
          <div class="juniors-section__menu">
            <ul class="juniors-section__teams">
              <li><a href="#" class="active">U19</a></li>
              <li><a href="#" class="">U18</a></li>
              <li><a href="#" class="">U17</a></li>
              <li><a href="#" class="">U16</a></li>
              <li><a href="#" class="lighter">U15</a></li>
              <li><a href="#" class="lighter">U14</a></li>
              <li><a href="#" class="lighter">U13</a></li>
              <li><a href="#" class="lighter">U12</a></li>
              <li><a href="#" class="light">U11</a></li>
              <li><a href="#" class="light">U10</a></li>
              <li><a href="#" class="light">U9</a></li>
              <li><a href="#" class="light">U8</a></li>
              <li><a href="#" class="light">U7</a></li>
              <li><a href="#" class="light">U6</a></li>
              <li><a href="#" class="light">WU18</a></li>
              <li><a href="#" class="light">WU15</a></li>
            </ul>

            <ul class="juniors-section__submenu nav nav-tabs">
              <li>
                <a href="#soupiska" data-toggle="tab" class="active"
                  >Soupiska</a
                >
              </li>
              <li>
                <a data-toggle="tab" href="#real">Realizační tým</a>
              </li>
              <li><a data-toggle="tab" href="#zapasy">Výsledky</a></li>
              <li>
                <a target="_blank"  href="#tabulka">Tabulka</a>
              </li>
              <li>
                <a data-toggle="tab" href="#clanky">Články</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane in active" id="soupiska">
            <div class="juniors-section__players">
              <div class="topTeam__inner">
                <h2 id="brankari" class="h2">Brankáři</h2>
                <div class="row g-10">
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="topTeam__inner">
                <h2 id="obranci" class="h2">Obránci</h2>
                <div class="row g-10">
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="topTeam__inner">
                <h2 id="zaloznici" class="h2">Záložníci</h2>
                <div class="row g-10">
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12">
                    <a href="#" class="topTeam__item">
                      <div class="topTeam__img">
                      <span>21</span>
                      </div>
                      <div class="topTeam__info">
                        <h3 class="h2">
                          <span> Josef </span>
                          Barmoš
                        </h3>
                        <p>Obránce</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              
            
            
            </div>
          </div>
          <div class="tab-pane fade" id="real">
            <div class="juniors-section__players">
              <div class="players-section__inner">
                <h2 id="realtym" class="h2">Realizační tým</h2>
                <div class="row g-5">
                  <div class="col-lg-4 col-sm-6 ">
                    <a
                      href="#"
                      class="players-section__item players-section__item--dukla"
                    >
                      <div class="players-section__img">
                        <div class="players-section__info">
                          <div class="players-section__name">
                            <span>Jan </span>Čtvrtečka
                          </div>
                          <div class="players-section__position">Trenér</div>
                        </div>
                        <div class="players-section__number">8</div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6 ">
                    <a href="#" class="players-section__item">
                      <div class="players-section__img">
                        <img
                          src="images/content/players.webp"
                          loading="lazy"
                          alt="player"
                        />
                        <div class="players-section__info">
                          <div class="players-section__name">
                            <span>Jan </span>Čtvrtečka
                          </div>
                          <div class="players-section__position">
                            Asistent trenéra
                          </div>
                        </div>
                        <div class="players-section__number">30</div>
                      </div>
                    </a>
                  </div>

                  <div class="col-lg-4 col-sm-6 ">
                    <a href="#" class="players-section__item">
                      <div class="players-section__img">
                        <img
                          src="images/content/players.webp"
                          loading="lazy"
                          alt="player"
                        />
                        <div class="players-section__info">
                          <div class="players-section__name">
                            <span>Jan </span>Čtvrtečka
                          </div>
                          <div class="players-section__position">Záložník</div>
                        </div>
                        <div class="players-section__number">12</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="zapasy">
            <div class="match">
              <div class="row match__row">
                <div class="match-hover">
                  <ul class="match__links">
                    <li>
                      <a class="tag tag-gold" href="#">Preview</a>
                    </li>
                    <li>
                      <a class="tag tag-gold" href="#">Vstupenky</a>
                    </li>
                    <li>
                      <a class="tag tag-green" href="#">Onlajn</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3">
                  <div class="match__col">
                    <p>Sobota 14. 10. 2023, 17:30</p>
                    <h4>FK Dukla Praha</h4>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="match__box">
                    <div class="match__logo">
                      <img src="images/ico/club-2.svg" alt="" />
                    </div>
                    <div class="match__result">
                      <span class="win">2 : 1</span>
                      <p>(1:0)</p>
                    </div>
                    <div class="match__logo">
                      <img src="images/content/club-3.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="match__col">
                    <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
                    <h4>FK Dukla Praha</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="match">
              <div class="row match__row">
                <div class="match-hover">
                  <ul class="match__links">
                    <li>
                      <a class="tag tag-gold" href="#">Preview</a>
                    </li>
                    <li>
                      <a class="tag tag-gold" href="#">Vstupenky</a>
                    </li>
                    <li>
                      <a class="tag tag-green" href="#">Onlajn</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3">
                  <div class="match__col">
                    <p>Sobota 14. 10. 2023, 17:30</p>
                    <h4>FK Dukla Praha</h4>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="match__box">
                    <div class="match__logo">
                      <img src="images/ico/logo.svg" alt="" />
                    </div>
                    <div class="match__result">
                      <span class="lose">0 : 2</span>
                      <p>(1:0)</p>
                    </div>
                    <div class="match__logo">
                      <img src="images/content/club-4.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="match__col">
                    <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
                    <h4>FK Dukla Praha</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="match">
              <div class="row match__row">
                <div class="match-hover">
                  <ul class="match__links">
                    <li>
                      <a class="tag tag-gold" href="#">Preview</a>
                    </li>
                    <li>
                      <a class="tag tag-gold" href="#">Vstupenky</a>
                    </li>
                    <li>
                      <a class="tag tag-green" href="#">Onlajn</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3">
                  <div class="match__col">
                    <p>Sobota 14. 10. 2023, 17:30</p>
                    <h4>FK Dukla Praha</h4>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="match__box">
                    <div class="match__logo">
                      <img src="images/ico/logo.svg" alt="" />
                    </div>
                    <div class="match__result">
                      <span class="win">4 : 0</span>
                      <p>(1:0)</p>
                    </div>
                    <div class="match__logo">
                      <img src="images/content/club-4.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="match__col">
                    <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
                    <h4>FK Dukla Praha</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="match">
              <div class="row match__row">
                <div class="match-hover">
                  <ul class="match__links">
                    <li>
                      <a class="tag tag-gold" href="#">Preview</a>
                    </li>
                    <li>
                      <a class="tag tag-gold" href="#">Vstupenky</a>
                    </li>
                    <li>
                      <a class="tag tag-green" href="#">Onlajn</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3">
                  <div class="match__col">
                    <p>Sobota 14. 10. 2023, 17:30</p>
                    <h4>FK Dukla Praha</h4>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="match__box">
                    <div class="match__logo">
                      <img src="images/ico/club-2.svg" alt="" />
                    </div>
                    <div class="match__result">
                      <span class="lose">0 : 1</span>
                      <p>(1:0)</p>
                    </div>
                    <div class="match__logo">
                      <img src="images/content/club-3.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="match__col">
                    <p>19. kolo, FORTUNA:NÁRODNÍ LIGA</p>
                    <h4>FK Dukla Praha</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tabulka">
            <div class="table-section__content">
               <div class="o-content">
                 <table>
                   <tr>
                     <thead>
                       <tr>
                         <th>#</th>
                         <th>Tým</th>
                         <th>Z</th>
                         <th>V</th>
                         <th>R</th>
                         <th>P</th>
                         <th>B</th>
                         <th>Skóre</th>
                         <th>RG</th>
                         <th>+/-</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td>5</td>
                         <td>FC Sellier & Bellot Vlašim</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>FC Sellier & Bellot Vlašim</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>FC Sellier & Bellot Vlašim</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>FC Sellier & Bellot Vlašim</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr class="dukla">
                         <td>5</td>
                         <td>FK Dukla Praha</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>FC Sellier & Bellot Vlašim</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>FC Sellier & Bellot Vlašim</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>FC Sellier & Bellot Vlašim</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>FC Sellier & Bellot Vlašim</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                       <tr>
                         <td>5</td>
                         <td>FC Sellier & Bellot Vlašim</td>
                         <td>24</td>
                         <td>13</td>
                         <td>77</td>
                         <td>6</td>
                         <td>1</td>
                         <td>34:19</td>
                         <td>99</td>
                         <td>88</td>
                       </tr>
                     </tbody>
                   </tr>
                 </table>
               </div>
             </div>
          </div>
          <div class="tab-pane fade" id="clanky">
            <div class="row g-5">
               <div class="col-md-6 col-12">
                 <div  class="post">
                     <a href="#" class="post__img">
                       <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
                     </a>
                     
                     <div class="post__info">
                       <ul class="tags">
                         <li>
                           <a href="#" class="tag tag-gold">preview</a>
                         </li>
                         <li>
                           <a href="#" class="tag-white tag">dnes</a>
                         </li>
                       </ul>
                       <a href="#" class="h3">
                         Dukla skolila Třinec dvěma slepenými góly ve druhé půli
                       </a>
                     </div>
                   </div>
                 </a>
               </div>
               <div class="col-md-6 col-12">
                 <div  class="post">
                     <a href="#" class="post__img">
                       <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
                     </a>
                     
                     <div class="post__info">
                       <ul class="tags">
                         <li>
                           <a href="#" class="tag tag-gold">preview</a>
                         </li>
                         <li>
                           <a href="#" class="tag-white tag">dnes</a>
                         </li>
                       </ul>
                       <a href="#" class="h3">
                         Dukla skolila Třinec dvěma slepenými góly ve druhé půli
                       </a>
                     </div>
                   </div>
                 </a>
               </div>
               <div class="col-md-6 col-12">
                 <div  class="post">
                     <a href="#" class="post__img">
                       <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
                     </a>
                     
                     <div class="post__info">
                       <ul class="tags">
                         <li>
                           <a href="#" class="tag tag-gold">preview</a>
                         </li>
                         <li>
                           <a href="#" class="tag-white tag">dnes</a>
                         </li>
                       </ul>
                       <a href="#" class="h3">
                         Dukla skolila Třinec dvěma slepenými góly ve druhé půli
                       </a>
                     </div>
                   </div>
                 </a>
               </div>
               <div class="col-md-6 col-12">
                 <div  class="post">
                     <a href="#" class="post__img">
                       <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
                     </a>
                     
                     <div class="post__info">
                       <ul class="tags">
                         <li>
                           <a href="#" class="tag tag-gold">preview</a>
                         </li>
                         <li>
                           <a href="#" class="tag-white tag">dnes</a>
                         </li>
                       </ul>
                       <a href="#" class="h3">
                         Dukla skolila Třinec dvěma slepenými góly ve druhé půli
                       </a>
                     </div>
                   </div>
                 </a>
               </div>
               <div class="col-md-6 col-12">
                 <div  class="post">
                     <a href="#" class="post__img">
                       <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
                     </a>
                     
                     <div class="post__info">
                       <ul class="tags">
                         <li>
                           <a href="#" class="tag tag-gold">preview</a>
                         </li>
                         <li>
                           <a href="#" class="tag-white tag">dnes</a>
                         </li>
                       </ul>
                       <a href="#" class="h3">
                         Dukla skolila Třinec dvěma slepenými góly ve druhé půli
                       </a>
                     </div>
                   </div>
                 </a>
               </div>
               <div class="col-md-6 col-12">
                 <div  class="post">
                     <a href="#" class="post__img">
                       <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
                     </a>
                     
                     <div class="post__info">
                       <ul class="tags">
                         <li>
                           <a href="#" class="tag tag-gold">preview</a>
                         </li>
                         <li>
                           <a href="#" class="tag-white tag">dnes</a>
                         </li>
                       </ul>
                       <a href="#" class="h3">
                         Dukla skolila Třinec dvěma slepenými góly ve druhé půli
                       </a>
                     </div>
                   </div>
                 </a>
               </div>
               <div class="col-md-6 col-12">
                 <div  class="post">
                     <a href="#" class="post__img">
                       <img src="images/content/post.jpeg" loading="lazy" alt="logo" />
                     </a>
                     
                     <div class="post__info">
                       <ul class="tags">
                         <li>
                           <a href="#" class="tag tag-gold">preview</a>
                         </li>
                         <li>
                           <a href="#" class="tag-white tag">dnes</a>
                         </li>
                       </ul>
                       <a href="#" class="h3">
                         Dukla skolila Třinec dvěma slepenými góly ve druhé půli
                       </a>
                     </div>
                   </div>
                 </a>
               </div>
             </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 d-none d-xl-block">
        {% include "@components/aside/aside.twig" %}
      </div>
    </div>
  </div>
</section>
