<section class="c-topstory-section">
  <div class="row m-0">
    <a
      href="#"
      class="c-topstory-section__item active"
      data-bs-toggle="modal"
      data-bs-target="#myModal"
    >
      <div class="c-topstory-section__img">
        <img src="images/content/1.jpeg" loading="lazy" alt="clanek-1" />
      </div>
      <div class="c-topstory-section__info">
        <ul class="tags">
          <li>
            <a href="#" class="tag tag-gold">U19</a>
          </li>
          <li>
            <a href="#" class="tag tag-white">dnes</a>
          </li>
        </ul>
        <h2 class="h2 title-small">Dukla</h2>
        <h1 class="h2 title-full">
          Dukla skolila Třinec dvěma slepenými góly ve druhé půli
        </h1>
      </div>
    </a>
    <a
      href="#"
      class="c-topstory-section__item"
      data-bs-toggle="modal"
      data-bs-target="#myModal"
    >
      <div class="c-topstory-section__img">
        <img src="images/content/2.jpeg" loading="lazy" alt="clanek-2" />
      </div>
      <div class="c-topstory-section__info">
        <ul class="tags">
          <li>
            <a href="#" class="tag tag-gold">U12</a>
          </li>
          <li>
            <a href="#" class="tag tag-white">včera</a>
          </li>
        </ul>
        <h2 class="h2 title-small">smlouva</h2>
        <h2 class="h2 title-full">
          Filip Špatenka v Dukle podepsal víceletou smlouvu
        </h2>
      </div>
    </a>
    <a
      href="#"
      class="c-topstory-section__item"
      data-bs-toggle="modal"
      data-bs-target="#matchModal"
    >
      <div class="c-topstory-section__img">
        <img src="images/content/3.png" loading="lazy" alt="clanek-3" />
      </div>
      <div class="c-topstory-section__info">
        <ul class="tags">
          <li>
            <a href="#" class="tag tag-gold">U6</a>
          </li>
          <li>
            <a href="#" class="tag tag-white">dnes</a>
          </li>
        </ul>
        <h2 class="h2 title-small">Generálka</h2>
        <h2 class="h2 title-full">
          Generálka: Po dvou gólech v druhé půli remíza
        </h2>
      </div>
    </a>
  </div>
</section>
