<section class="c-topstory-section">
  <div class="row m-0">
    <div class="c-topstory-section__item">
      <a class="c-topstory-section__img" href="#">
        <img src="images/content/1.jpeg" loading="lazy" alt="clanek-1" />
      </a>
      <div class="c-topstory-section__info">
        <ul class="tags">
          <li>
            <a href="#" class="tag tag-gold">preview</a>
          </li>
          <li>
            <a href="#" class="tag tag-white">dnes</a>
          </li>
        </ul>
        <h1 class="h2">
          Dukla skolila Třinec dvěma slepenými góly ve druhé půli
        </h1>
      </div>
    </div>
    <div class="c-topstory-section__item active">
      <a class="c-topstory-section__img" href="#">
        <img src="images/content/2.jpeg" loading="lazy" alt="clanek-2" />
      </a>
      <div class="c-topstory-section__info">
        <ul class="tags">
          <li>
            <a href="#" class="tag tag-gold">preview</a>
          </li>
          <li>
            <a href="#" class="tag tag-white">včera</a>
          </li>
        </ul>
        <h2 class="h2">Filip Špatenka v Dukle podepsal víceletou smlouvu</h2>
      </div>
    </div>
    <div class="c-topstory-section__item">
      <a class="c-topstory-section__img" href="#">
        <img src="images/content/3.png" loading="lazy" alt="clanek-3" />
      </a>
      <div class="c-topstory-section__info">
        <ul class="tags">
          <li>
            <a href="#" class="tag tag-gold">preview</a>
          </li>
          <li>
            <a href="#" class="tag tag-white">dnes</a>
          </li>
        </ul>
        <h2 class="h2">Generálka: Po dvou gólech v druhé půli remíza</h2>
      </div>
    </div>
  </div>
</section>
